@charset "UTF-8";
#saveDraft.hide, .create-box .action.hide, .create-box.discuss-group .area>.title, .create-box.discuss-group .area>h3 {
	display: none
}
.selector::after, .selector::before {
	content: ''
}
.create-box {
	min-height: 400px
}
.create-box>h2 {
	color: #333;
	font-size: 16px;
	font-weight: 400;
	border-bottom: 1px solid #eee;
	margin: 0 0 16px;
	padding-top: 15px;
	padding-bottom: 15px
}
.create-box>h2 .tuan-post-help {
	font-size: 12px;
	font-weight: 400;
	float: right
}
.create-box>h3, .create-modal h3 {
	color: #666;
	font-size: 16px;
	margin: 15px 0;
	font-weight: 400
}
.create-box>h3 span, .create-modal h3 span {
	color: #999;
	font-size: 12px
}
.create-box>h3 span.item-seq-chinese {
	font-size: 16px;
	color: #666
}
.create-box.discuss-group>h2 {
	border-bottom: none;
	padding-bottom: 5px
}
.blog-title, .cmd-link {
	outline: 0;
	background: #eee;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	color: #555;
	padding-left: 10px
}
.blog-title {
	width: 98.8%;
	height: 50px;
	line-height: 50px\9
}
.cmd-link {
	width: 83.7%;
	height: 40px;
	line-height: 40px\9
}
#addPhotoAlbumBtn, #fetchCommodity, .create-box .action button {
	width: 90px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: 0
}
.cmd-link:disabled {
	color: #9c9c9c
}
#addPhotoAlbumBtn, #fetchCommodity {
	height: 40px;
	background: #ccc;
	border-radius: 2px;
	border: none;
	color: #fff;
	float: right
}
.error {
	color: #fff;
	background: #ff7a67
}
.create-box .action {
	height: 42px;
	margin: 20px 0 0
}
.create-box .action button {
	background: #ccc;
	float: left;
	height: 40px;
	line-height: 40px;
	color: #fff;
	margin-right: 20px;
	border-radius: 2px;
	border: none;
	padding: 0
}
#addPhotoAlbumBtn.active, #fetchCommodity.active, .create-box .action button.active {
	background: #e76969
}
.create-box .action>.right {
	float: right
}
.create-box .action button.publish {
	margin-right: 0
}
#previewDraft a {
	display: block;
	color: #fff
}
.show .cmd-card {
	display: block
}
.cmd-card {
	display: none;
	width: 100%;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	margin-top: 20px;
	position: relative
}
.cmd-card .cmd-img {
	margin: 20px 0 20px 20px;
	display: inline-block;
	width: 180px;
	height: 180px
}
.cmd-card .cmd-img img {
	max-width: 180px;
	max-height: 180px;
	overflow: hidden
}
.cmd-card .arrow {
	width: 0;
	height: 0;
	position: absolute;
	top: -12px;
	left: 25px;
	border: 12px solid transparent;
	border-bottom: 12px solid #ccc;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: none
}
.cmd-card .arrow .inner {
	left: -12px;
	top: 1px;
	border-bottom: 12px solid #fff
}
.cmd-card .cmd-info {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
	width: 69%
}
.cmd-card .cmd-info h3 {
	font-size: 14px;
	max-width: 630px;
	color: #222;
	margin: 0
}
.cmd-card .cmd-info .price {
	font-size: 14px;
	color: #797979;
	margin-top: 15px
}
.cmd-card .cmd-info .price span {
	font-size: 18px;
	color: #ff7b69;
	margin-right: 5px
}
.cmd-card .cmd-info .price.old span {
	font-size: 14px;
	color: #797979;
	text-decoration: line-through
}
.cmd-card .cmd-images {
	margin: 0 20px 20px;
	padding: 15px;
	background: #f5f5f5;
	border-radius: 2px
}
.cmd-card .cmd-images p {
	margin: 0 0 10px;
	color: #666;
/*	font-size: 1.3rem*/
}
.cmd-card .cmd-images p span {
	color: #999;
	font-size: 1.2rem
}
.add-cmd-image, .cmd-card .cmd-images .cmd-image {
	box-sizing:content-box;
	display: inline-block;
	height: 89px;
	width: 89px;
	margin-right: 9px;
	cursor: pointer;
	position: relative;
	border: 2px solid transparent;
	vertical-align: bottom;
	margin-bottom: 10px
}
.add-cmd-image {
	background: url(../img/add-cmd-image-727476fc35.png);
	border: 2px solid #f5f5f5
}
.add-cmd-image input, input[type=file].upload-photo {
	height: 89px;
	width: 89px;
	filter: alpha(opacity=0);
	opacity: 0;
	cursor: pointer
}
input[type=file].upload-photo {
	position: absolute;
	top: 0;
	left: 0
}
.cmd-old-price {
	text-decoration: line-through;
	color: #9c9c9c;
	font-size: 12px;
	margin-left: 5px
}
.delete-cmd-img {
	width: 12px;
	height: 12px;
	position: absolute;
	top: -6px;
	right: -6px;
	background-image: url(../img/cmd-image-x-6e42eef3a4.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	cursor: pointer
}
.cmd-card .cmd-images .cmd-image img {
	max-height: 89px;
	max-width: 89px
}
.cmd-card .cmd-images .cmd-image.main-image {
	border: 2px solid #ff7272
}
.cmd-card .cmd-images .cmd-image.main-image label {
	display: block
}
.cmd-card .cmd-images .cmd-image label {
	display: none;
	width: 91px;
	text-align: center;
	line-height: 26px;
	position: absolute;
	bottom: 0;
	background: #ff7272;
	color: #fff;
	opacity: .95
}
.cmd-info label {
	display: block;
	font-size: 13px
}
.cmd-text-wrap  h3{ margin:20px 0 10px;}
#simditorText, .cmd-text-wrap, .cmd-url, .err-txt {
	display: none
}
.cmd-info label span {
	color: #9c9c9c
}
.cmd-info-title input:disabled, .cmd-price input:disabled {
	color: #9c9c9c;
	background: #eee
}
.cmd-info input[type=text] {
	border: 1px solid #ddd;
	padding: 8px 10px;
	margin-top: 10px;
	border-radius: 2px;
	font-size: 13px
}
.cmd-info-title, .cmd-large-input {
	padding-bottom: 10px
}
.cmd-info-title input, .cmd-large-input input {
	width: 96%
}
.cmd-price input[type=text] {
	width: 150px
}
.cmd-show-title input {
	width: 250px
}
.cmd-info-fields {
	margin-top: 30px
}
.cmd-info-fields .left {
	float: left
}
.cmd-info-fields .right {
	float: right
}
.cmd-sort{ margin-right:20px}
.err-txt {
	color: #ff7a66;
	line-height: 25px;
	margin-top: 5px;
	margin-bottom: -15px
}
.noty-container {
	display: none;
	position: fixed;
	top: -30px;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	z-index: 999
}
.noty-container span {
	padding: 15px 80px;
	display: inline-block;
	font-size: 14px;
	background: #63c395;
	color: #fff
}
.loading {
	display: none;
	margin-top: 60px;
	text-align: center;
	padding: 10px
}
.field label, .inline.field .field, .section .header, .tuan-way-list, .tuan-way-list li {
	display: inline-block
}
.loading img {
	width: 50px
}
.rd-container {
	border: 1px solid #ddd;
	margin-top: 8px;
	border-radius: 3px
}
.rd-container td {
	width: 30px
}
.rd-day-disabled {
	color: #ccc
}
#tuanContainer .section {
	margin-bottom: 40px
}
.bordered {
	border: 1px solid #ddd;
	border-radius: 2px
}
.bordered.block {
	padding: 15px
}
.add-icon, .cover-image {
	height: 89px;
	width: 89px;
	cursor: pointer;
	float: left;
	position: relative
}
.cover-image {
	height: auto
}
.cover-image img {
	width: 100%
}
.add-cmd-text {
	vertical-align: middle;
	margin-left: 110px
}
.add-title {
	color: #333;
	font-size: 16px;
	margin: 0 0 10px
}
.add-text {
	color: #cdcdcd;
	margin: 0
}
.field {
	margin-bottom: 15px;
	overflow: hidden;
	position: relative
}
.field.title-input-container {
	overflow: visible
}
.field label {
	width: 60px;
	margin-right: 10px;
	font-size: 14px;
	color: #333;
	line-height: 35px
}
.input-number, .section-info .field input[type=text] {
	border: 1px solid #ddd;
	border-radius: 2px;
	height: 35px;
	width: 725px;
	padding-left: 10px;
	font-size: 14px;
	box-sizing: border-box
}
.input-number {
	width: 100px
}
.section-info .field input.short {
	width: 400px
}
.section-info .field .simditor {
	width: 725px;
	float: right
}
.section-info .field input.full-input {
	width: 100%
}
.field.left-label {
	padding-left: 70px
}
.inline.field .field {
	width: 358px;
	margin-bottom: 0
}
.inline.field .field input {
	width: 264px
}
.inline.field .left.field {
	float: left
}
.inline.field .right.field {
	float: right;
	text-align: right
}
.tuan-way-list {
	padding: 0;
	margin: 0;
	height: 30px;
	line-height: 30px
}
.tuan-way-list li {
	margin-right: 10px;
	font-size: 14px;
	color: #777
}
.textarea-section {
	margin-bottom: 20px
}
.field .title, .textarea-section .title {
	color: #333;
	font-size: 14px;
	margin-bottom: 10px
}
.field .title span, .textarea-section .title span {
	color: #cdcdcd;
	margin-left: 10px;
	font-weight: 100;
	font-size: 14px
}
.textarea-section .subtitle {
	color: #777
}
#albumContainer .simditor .simditor-body, #createVote .simditor .simditor-body, #tuanContainer .simditor .simditor-body {
	min-height: 220px
}
.section .header {
	min-width: 120px;
	color: #000;
	background: #f2f2f2;
	height: 40px;
	line-height: 40px;
	margin-left: -30px;
	margin-bottom: 30px;
	padding-left: 30px;
	padding-right: 15px;
	font-weight: 400
}
#tuanByCouponContainer, #tuanByNoneContainer {
	display: none
}
.deleteModal {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	width: 24px
}
.create-modal {
	padding: 20px;
	display: none;
	background: #fff;
	border-radius: 5px;
	position: relative
}
.create-modal h2 {
	color: #555;
	font-size: 18px;
	border-bottom: 1px solid #eee;
	margin: 0;
	padding-bottom: 18px
}
.create-modal h3 {
	margin: 20px 0
}
.create-modal .cmd-link {
	width: 525px
}
.tuan-modal.create-modal {
	margin: 100px auto 0
}
#fetchCmdModal {
	width: 600px
}
#fetchCmdModal .cmd-link {
	width: 480px
}
#addCmdModal {
	margin-top: 25px;
	width: 700px;
	max-height: 600px;
	overflow: auto
}
#addCmdModal .cmd-card {
	width: 696px;
	border: none;
	margin-top: 0
}
#addCmdModal .cmd-card .cmd-info {
	width: 450px;
	margin-right: 20px;
	margin-bottom: 20px
}
#addCmdModal .cmd-coupon-link input, #addCmdModal .cmd-info-title input, #addCmdModal .cmd-url input {
	width: 360px
}
#addCmdModal .cmd-info label {
	display: inline-block;
	color: #777
}
#addCmdModal .cmd-info-fields {
	margin-top: 0
}
#addCmdModal .cmd-coupon-desc input[type=text] {
	width: 120px
}
#addCmdModal .cmd-info-fields input[type=text] {
	width: 100px
}
#addCmdModal .cmd-old-price {
	text-decoration: none;
	color: #333
}
#addCmdModal .action {
	height: 42px;
	float: right
}
#addCmdModal .action button {
	background: #ccc;
	float: left;
	width: 90px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	margin-right: 25px;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
	border: none;
	padding: 0;
	outline: 0
}
#addCmdModal .action button.active {
	background: #6bbec6
}
.cmd-description {
	margin-top: 20px
}
.cmd-description textarea {
	border: 1px solid #eee;
	border-radius: 3px;
	outline: 0;
	width: 363px;
	vertical-align: top;
	padding: 8px;
	height: 80px;
	margin-bottom: 15px
}
#addCmdCardList .tuan-img, .album-item-card .album-item-img, .gu-mirror .tuan-img {
	float: left;
	width: 180px;
	height: 180px
}
#addCmdCardList .tuan-img img, .album-item-card .album-item-img img, .gu-mirror .tuan-img img {
	width: 180px;
	height: 180px
}
#addCmdCardList .tuan-info, .album-item-card .album-info, .gu-mirror .tuan-info {
	overflow: hidden;
	padding-left: 20px
}
.album-item {
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px
}
.item-order {
	position: absolute;
	right: 0;
	top: 22px;
	z-index: 2
}
.item-order .selection {
	float: right
}
.item-order .selection .left {
	float: left
}
.item-order .selection .numbers {
	max-height: 290px;
	overflow: auto
}
.item-order .num {
	width: 52px;
	background: #f2f2f2;
	text-align: center;
	margin-left: 10px
}
.item-order .num.border {
	border-bottom: 1px solid #ddd
}
.item-order .icon {
	height: 16px;
	width: 13px;
	position: relative;
	background: #f2f2f2;
	border-left: 1px solid #ddd
}
.item-order .triangle {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0
}
.item-order .triangle.down, .item-order .triangle.up {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent
}
.item-order .triangle.up {
	border-bottom: 5px solid #000
}
.item-order .triangle.down {
	border-top: 5px solid #000
}
.item-card {
	padding: 10px;
	margin: 15px 0;
	border: 1px solid #ddd;
	border-radius: 3px;
	position: relative;
	cursor: move
}
.album-item-card.item-card {
	cursor: initial
}
.price .new-price, .price .old-price {
	display: inline-block
}
#albumTemplate, .item-card .coupon-desc, .item-card .coupon-link, .item-seq {
	display: none
}
.item-card .title {
	font-size: 15px;
	margin: 10px 0 40px
}
.item-card .price, .section-info {
	font-size: 14px
}
.album-item-card.item-card .title, .item-card .coupon-desc, .item-card .price {
	margin-bottom: 15px
}
.item-card .old-price {
	text-decoration: line-through;
	color: #a2a2a2;
	margin-left: 20px
}
.item-card .new-price span {
	color: #ff7b69;
	font-weight: 700
}
.item-card .buttons {
	position: absolute;
	bottom: 15px;
	right: 15px
}
.item-card .buttons button {
	cursor: pointer;
	width: 60px;
	height: 25px;
	background: #fff;
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #7c7c7c;
	margin-left: 12px
}
#tuanByCouponContainer p, #tuanByNoneContainer p, #tuanBySecretContainer p, .section-info .simditor .simditor-wrapper .simditor-placeholder {
	color: #cdcdcd
}
#tuanContainer input::-webkit-input-placeholder {
color:#cdcdcd
}
#tuanContainer input:-moz-placeholder {
color:#cdcdcd
}
#tuanContainer input::-moz-placeholder {
color:#cdcdcd
}
#tuanContainer input:-ms-input-placeholder {
color:#cdcdcd
}
#tuanContainer input.placeholder {
	color: #cdcdcd!important
}
.tuan-post-help {
	color: #5584a2;
	margin-left: 4px
}
.tuan-post-help img {
	height: 12px;
	margin-top: -2px;
	margin-right: 2px;
	vertical-align: middle
}
.header .header-text, .votes .field>* {
	vertical-align: top
}
.placeholder-input {
	border: 1px solid #ddd;
	border-radius: 3px;
	height: 30px;
	width: 717px;
	font-size: 14px;
	padding-left: 10px;
	color: #000;
	line-height: 30px
}
.area>h3, .simditor-body p {
	/*font-size: 1.4rem*/
}
.section-info .field .placeholder-input input[type=text] {
	border: none;
	width: 550px;
	padding-left: 0;
	height: 28px;
	color: #000
}
#addAlbumItem {
	cursor: pointer
}
.create-modal hr {
	border: none;
	margin: 20px 0;
	color: #eee;
	background-color: #eee;
	height: 1px
}
.create-modal .field {
	margin-bottom: 0
}
.add-album-cmd#addCmdModal {
	width: 740px;
	max-width: 100%
}
#addAlbumItemByImage {
	background: #fff;
	position: relative
}
#addPhotoAlbumBtn {
	display: none;
	float: none;
	margin-top: 20px
}
#form .simditor h1, #form .simditor h2, #form .simditor h3, #form .simditor h4, #form .simditor h5, #form .simditor h6 {
	margin: 10px 0
}
.header-selector .selector, .vote-img {
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
	position: relative
}
.area>h3 {
	font-weight: 400;
	color: #000;
	margin-bottom: 20px;
}
.photos-small-input {
	overflow: hidden;
	box-sizing: border-box;
	margin-top: 15px
}
.photos-small-input label {
	width: 80px;
	line-height: 35px
}
.photos-small-input label input[type=checkbox] {
	margin-right: 3px
}
.photos-small-input input[type=text] {
	width: 80px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding-left: 10px;
	float: right
}
.votes {
	position: relative
}
.vote-inputs {
	width: 400px;
	display: inline-block
}
.vote-inputs input {
	margin-bottom: 15px
}
.vote-img {
	height: 85px;
	transition: all .5s;
	opacity: 1
}
.vote-img.hide {
	width: 10px;
	opacity: 0
}
.vote-img img {
	height: 100%
}
.vote-img .upload-photo {
	height: 85px;
	width: 85px;
	filter: alpha(opacity=0);
	opacity: 0;
	cursor: pointer
}
#addVoteItem {
	cursor: pointer;
	text-align: center;
	padding: 8px
}
.section .header.header-selector {
	padding-right: 0;
	font-size: 14px
}
.header-selector .selector {
	text-align: center;
	height: 40px
}
.selector.active .selector-options {
	display: block
}
.selector-options {
	position: absolute;
	width: 100%;
	left: 0;
	top: 40px;
	display: none;
	background: #f2f2f2;
	animation: dropdown .5s;
	z-index: 100
}
.selector span {
	display: inline-block;
	padding: 0 25px
}
#selectLimitInput[disabled] {
	cursor: not-allowed
}
#createVote .action {
	margin-top: 66px
}
.selector::before {
	position: absolute;
	left: 0;
	top: 18px;
	height: 3px;
	width: 3px;
	border-radius: 2px;
	background: #333
}
.selector::after {
	background-image: url(../img/icon-unfold-887c38b3c9.png);
	background-size: 10px;
	height: 10px;
	width: 10px;
	position: absolute;
	right: 9px;
	top: 15px;
	transition: all .5s
}
.selector.active::after {
	transform: rotate(180deg)
}
.field:hover .delete-vote-item {
	display: block
}
.delete-vote-item {
	position: absolute;
	left: 19px;
	top: 25px;
	cursor: pointer;
	color: #999;
	display: none
}
.delete-vote-item:hover {
	color: #333
}
#dealtypeContainer {
	position: absolute;
	left: 77px;
	top: 4px;
	z-index: 1
}
#dealtypeSelector {
	height: 26px;
	width: 68px;
	background: #fff;
	border: 1px solid #f0f0f0;
	cursor: pointer;
	font-size: 13px;
	display: inline-block;
	position: relative;
	border-radius: 3px;
	transition: .3s all
}
#dealtypeSelector.active, #dealtypeSelector:hover {
	box-shadow: 0 0 3px rgba(0,0,0,.15);
	border-color: #ddd
}
#dealtypeSelector.active {
	border-bottom-width: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}
#dealtypeSelector.active .selector-options {
	display: block
}
#dealtypeSelector.selector::after, #dealtypeSelector.selector::before {
	display: none
}
#dealtypeSelector.selector span {
	padding: 0
}
#dealtypeSelector .selector-text {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 26px;
	line-height: 26px
}
#dealtypeSelector .selector-options {
	top: 26px;
	background: #fff;
	border: 1px solid #ddd;
	border-top-width: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-left: -1px;
	animation: dropdown .3s;
	box-shadow: 0 2px 2px rgba(0,0,0,.15)
}
#dealtypeSelector li {
	text-align: center;
	height: 26px;
	line-height: 26px
}
#tuanTitle {
	padding-left: 110px
}
.field-tips {
	margin-left: 70px;
	color: #cdcdcd
}
.rd-time-list {
	z-index: 10
}
.delete-album-item-card {
	position: absolute;
	right: 146px;
	top: 22px;
	cursor: pointer;
	display: none;
	z-index: 2
}
.album-item:hover .delete-album-item-card {
	display: block
}


/*新加*/
.layui-tab-title .layui-this a{color: #009688}