
/* 公用 */
html{overflow-x: hidden; overflow-y: auto; background-color: #eee; }
html body{margin-top: 80px; }
body{line-height:24px;}
i{font-style: normal;}
.main{/*width: 1075px; */ width: 1245px; min-height: 600px; margin: 0 auto 15px;}
.wrap{float:left; width: 100%; min-height:300px;}
.content{margin-right: 347px}
.edge{position: relative; float:left; top:0; width:336px; margin-left:-336px;}
.g_content{ margin-right:495px}
.g_edge{position: relative; float:left; top:92px; width:480px; margin-left:-480px;}

.edge-fixed{position:fixed; right:24px; top:15px;}

.swiper-container {width: 100%;height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.swiper-slide a{ display:block; width: 100%; height: 100%}
body input, body textarea{box-shadow:none;}
body .layui-layer-prompt textarea.layui-layer-input{resize: both;}
body .iconfont,body .layui-icon{-webkit-text-stroke-width: 0;}
q::before, q::after {
    content: "";
}

/*字体图标new*/
.icon-guanwang {
    color: #a9b7b7;
    display: inline-block;
    font-size: 30px;
}
.pr {
    position: relative;
}

/* 辅助 */
pre{padding: 10px 15px; margin: 10px 0; font-size: 12px; border-left: 6px solid #2c2c2c;  background-color: #F2F2F2; font-family: Courier New; overflow: auto;}
.fly-main{position:relative; width:1000px; margin:0 auto;}
.fly-msg, .fly-error{padding:10px 15px; line-height:24px;}
.fly-msg{background-color:#F8F8F8; color:#666;}
.fly-msg a{color:#4F99CF}
.page-title{position: relative; font-size: 14px; margin: 0 0 20px; padding: 10px 15px; line-height:30px; background-color: #F2F2F2}
.edge .page-title{width:auto; margin: 0; line-height: 38px; padding: 0 15px; border: none; background-color: #f2f2f2;}
.fly-editbox{position:relative;}

.icon-touxiang{display:inline-block; color:#A9B7B7; font-size: 35px;}
.fly-error{color:#c00;}
.loading{background-image: url(../images/loading.gif); background-position: center center; background-repeat: no-repeat;}

html .fly-full{margin-top: 65px;}
.red {color: #fe584d;}
.fly-full .header {
    border-bottom: 1px solid #404553;
    border-right: 1px solid #404553;
}

/* 404或提示 */
.fly-none{min-height: 600px; text-align: center; padding-top:50px; color: #999;}
.fly-none .iconfont{line-height: 300px; font-size: 300px; color: #393D49;}
.fly-none .icon-tishilian{display: inline-block; margin: 30px 0 20px;}
.fly-none p{margin-top: 50px; padding: 0 15px; font-size: 20px; color: #999; font-weight: 300;}

/* 头部 */
.header{position:fixed; z-index: 10000; left:0; top:0; width:100%; height:65px; background-color:#393D49;}
.header .main{position:relative; margin:0 auto; min-height: 0;}
.logo{position:absolute; top: 12px; left:0; width:151px; height: 50px; text-indent:-666px; background:url(../images/logo.png) no-repeat;}

.nav{position:absolute; left: 220px; top: 18px;}
.nav a{padding: 0 20px; font-size:14px; color:#999;}
.nav a i{position:relative; top: 5px; padding-right:8px; font-size:18px; font-size: 26px;}
.nav a .icon-shouye, .nav a .icon-shezhi{top: 2px;}
.nav a:hover{transition: all .4s;}
.nav a:hover, .nav .nav-this{ color:#fff;}

.nav-user{position:absolute; top: 12px; right:0;}
.nav-user span,
.nav-user .unlogin,
.out-login,
.avatar,
.avatar *,
.nav-user .nav{display:inline-block; vertical-align: middle; *display: inline; *zoom:1;}
.nav-user .unlogin{margin-right: 10px; margin-top: 8px;}
.nav-user span{position: relative;}
.nav-user span a{padding:0 10px; color:#A9B7B7}
.nav-user span a:hover{color:#fff;}
.nav-user .nav{position:relative; top: -2px; left: auto; right: 0; margin-left: 10px;}
.nav-user .nav a{padding: 0 10px;}
.nav-user .unlogin i{margin-bottom: 7px;}

.out-login{margin-left:20px; text-align:center}
.out-login a{color:#A9B7B7; font-size:24px; padding:0 4px;}
.out-login a:hover{color:#fff;}

.avatar{ color:#A9B7B7; font-size:14px;}
.avatar img{ width: 42px; height: 42px; border-radius:100%;}
.avatar cite, .avatar i{margin-left: 10px}
.avatar i{line-height: 20px; color: #FF7200;}

.nav-message{position:absolute; top:0; left: -25px; height:20px; line-height:20px; padding:0 6px; background-color:#FF7200; color:#fff;}
.nav-message:hover{color:#fff;}

/* 底部 */
.footer {
  margin: 50px 0 0;
  padding: 30px 0 ;
  line-height: 30px;
  text-align: center;
  color: #737573;
  border-top: 1px solid #e2e2e2;
}
.footer a{padding:0 6px; font-weight: 300; color: #333;}
.footer a:hover{color: #777;}

/* 分页 */
.laypage-main,
.laypage-main *{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.laypage-main{margin: 20px 0; border: 1px solid #2c2c2c; border-right: none; border-bottom: none; font-size: 0;}
.laypage-main li{padding: 0 20px; line-height: 36px; border-right: 1px solid #2c2c2c; border-bottom: 1px solid #2c2c2c; font-size: 14px;}
.laypage-main .is-active{background-color:#2c2c2c;}
.laypage-main .is-active a{color:#fff;}

/* 简易编辑器 */
.fly-edit{position:relative; display: block; top: 1px; left:0; padding:0 10px; border: 1px solid #e6e6e6; border-radius: 2px 2px 0 0; background-color: #FBFBFB;}
.fly-edit span{cursor:pointer; padding:0 10px; line-height: 38px; color:#2c2c2c;}
.fly-edit span i{padding-right:6px; font-size: 18px;}
.fly-edit span:hover{color:#5DB276;}

body .layui-edit-face{ border:none; background:none;}
body .layui-edit-face  .layui-layer-content{padding:0; background-color:#fff; color:#666; box-shadow:none}
.layui-edit-face .layui-layer-TipsG{display:none;}
.layui-edit-face ul{position:relative; width:370px; padding:10px; border:1px solid #D9D9D9; background-color:#fff; box-shadow: 0 0 20px rgba(0,0,0,.2);}
.layui-edit-face ul li{cursor: pointer; float: left; border: 1px solid #e8e8e8; height: 32px; width: 32px; overflow: hidden; margin: -1px 0 0 -1px; padding: 4px 2px; text-align: center;}
.layui-edit-face ul li:hover{position: relative; z-index: 2; border: 1px solid #eb7350; background: #fff9ec;}

/* Tab */
.fly-tab{position:relative; margin-bottom: 15px;}
.fly-tab span,
.fly-tab span a{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.fly-tab span{border: 1px solid #ddd; border-right: none; font-size:0;}
.fly-tab span a{position: relative; height: 36px; line-height: 36px; padding: 0 20px; border-right: 1px solid #ddd; font-size: 14px; background-color: #fff;}
.fly-tab .tab-this{color: #000;}
.fly-tab .tab-this:after{content: ''; position: absolute; bottom: -1px; left: -1px; width: 100%; height: 1px; padding: 0 1px; background-color: #2c2c2c;}

.fly-tab-index{}

/* 面板 */
.fly-panel{background-color: #fff; border-radius: 2px;}
.fly-panel[pad20]{padding: 20px;}
.fly-panel-title{position: relative; height: 40px; line-height: 40px; padding: 0 15px; margin-bottom: 5px; border-bottom: 1px dotted #e9e9e9; /*background-color: #f8f8f8;*/ color: #333; border-radius: 2px 2px 0 0; font-size: 14px;}

/* 右侧 - 雷锋榜 */
.leifeng-rank{margin-bottom: 15px; padding-bottom: 15px;}
.leifeng-rank dl{margin-left: 15px; font-size: 0;}
.leifeng-rank dd{position: relative; width: 65px; height: 85px; margin: 10px 15px 0px 0; display:inline-block; *display:inline; *zoom:1; vertical-align:top; font-size:12px;}
.leifeng-rank dd a img{width: 65px; height: 65px; border-radius: 2px;}
.leifeng-rank dd a cite{ position:absolute; bottom: 20px; left: 0; width:100%; height:20px; line-height:20px; text-align:center; background-color:rgba(0,0,0,.2); color:#fff; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.leifeng-rank dd a:hover cite{display: block;}
.leifeng-rank dd a i{position:absolute; bottom: -5px; left: 0; width: 100%; text-align: center; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-style: normal;}


/* 友链 */
.fly-link{line-height: 26px;}
.fly-link dd{display: inline-block; vertical-align: top;}
.fly-link a{padding-right: 15px;}
.fly-link dl{padding: 5px 15px;}

/* 搜索 */
.fly-search{position:relative; margin-left:10px; display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.fly-search input{padding-right: 30px;}
.fly-search .icon-sousuo{position:absolute; right: 10px; top: 8px; color:#999; cursor:pointer;}

/* 用户中心 */
body .fly-user-main{position: relative; width: 1245px; min-height: 600px; margin: 20px auto; padding-top: 20px;}
.fly-user-main>.layui-nav{position: absolute; left: 0; top: 20px; z-index: 1000; height: 100%; padding: 10px 0;}
.fly-user-main>.layui-nav .layui-icon{position: relative; top: 2px; font-size: 20px; margin-right: 10px;}
.fly-user-main>.fly-panel{width: 980px; min-height: 575px; margin: 0 0 10px 215px;}
.fly-user-main .fly-none{min-height: 0;}
.fly-panel-user[pad20]{padding-top: 5px;}

.fly-form-app{margin-top:30px;}
.fly-form-app .iconfont{font-size:26px; padding: 0 5px;}
.fly-form-app .icon-qq{color:#7CA9C9}
.fly-form-app .icon-weibo{color:#E6162D}
.fly-form-app .icon-weixin {color: #1ec354;}

.user-tab{margin:20px 0;}
.user-about{position:relative; padding:0 0 0px 20px; border-left:1px solid #DFDFDF; text-align:center;}
.user-about .user-avatar{width:100px; height:100px; border-radius:100%;}
.user-about p{line-height:30px;}
.user-about p span{padding:0 5px; color:#999;}

/* 个人主页 */
.fly-home{position: relative; padding: 30px 0 30px; text-align: center; background-color: #fff;}
.fly-home img{width:120px; height:120px; border-radius:100%;}
.fly-home h1{font-size:26px; line-height:30px; margin-top:10px;}
.fly-home h1 span{font-size:14px; color:#999;}
.fly-home h1 .icon-nan{color:#4EBBF9}
.fly-home h1 .icon-nv{color:#F581B1}
.fly-home-sign{padding: 0 10px; color: #999; margin-top: 5px;}
.guanxi{ margin-top: 15px;}

.fly-home-info i{padding-right: 5px; padding-left: 10px; color: #666;}
.fly-home-info span{color: #999;}
.fly-sns{margin-top: 10px;}
.fly-home-main{margin-top: 15px; font-size: 0; text-align: center;}
.fly-home-main>.layui-inline{width: 532px; vertical-align: top; font-size: 14px; text-align: left;}
.fly-home-da{margin-left: 10px; width: 330px !important;}
.fly-home-jie{ width:890px !important;}
.fly-home-jie .jie-row,
.fly-home-da .home-jieda{min-height: 500px; padding: 5px 20px;}

/*.home-jieda li{margin-bottom:20px; padding-bottom:10px; line-height:24px; border-bottom: 1px dotted #DFDFDF;}*/
.home-jieda li{ margin-bottom:20px; line-height:24px;}
.home-dacontent{margin-top:10px; padding:10px 15px; background-color:#F2F2F5; border-radius:5px; word-wrap: break-word;;}
.home-dacontent pre{ background-color:#F2F2F5;}
.home-dacontent img{max-width:100%;}
.home-jieda li a{padding:0 5px; color:#4F99CF;}
.home-jieda li p{color:#999;}
.home-jieda li p span{padding-right:5px;}

/* 我的消息 */
#LAY-minemsg{min-height:420px;}
.mine-msg li{position:relative; margin-bottom: 15px; padding: 10px 0 5px; line-height:24px; border-bottom:1px dotted #E9E9E9}
.mine-msg li cite{padding: 0 5px; color: #4F99CF;}
.mine-msg li i{color:#4F99CF; padding-right:5px;}
.mine-msg li>p{position: relative; margin-top: 5px; line-height: 26px; text-align: right;}
.mine-msg li>p span{position: absolute; left: 0; top: 0; color:#999;}
.mine-msg li .fly-delete{position: relative; top: -3px;}
.mine-msg li .layui-elem-quote p[download]{padding: 10px 0 5px;}


/* 设置 */
.avatar-add{position:relative; width:373px; height:300px; background-color:#F2F2F5;}
.avatar-add .upload-img{position:absolute; left:50%; top:35px; margin:0 0 0 -45px;}
.avatar-add img{position:absolute; left:50%; top:50%; width:120px; height:120px; margin:-8px 0 0 -65px; border-radius:100%;}
.avatar-add .loading{display:none; position:absolute; width:100%; height:100%; left:0; top:0; padding: 0; background-color:#000; opacity:0.5; filter: Alpha(opacity=50);}
.avatar-add p{position:absolute; top:70px; width:100%; margin-top: 10px;; font-size:12px; text-align:center; color:#999;}
.app-bind li{margin-bottom:10px; line-height:30px; color:#999;}
.app-bind li .iconfont{position: relative; top: 3px; margin-right: 5px; font-size:28px; }
.app-bind .app-havebind{color:#333;}
.app-bind .app-havebind .icon-qq{color:#7CA9C9}
.app-bind .app-havebind .icon-weibo{color:#E6162D}
.app-bind .app-havebind .icon-weixin{color:#1ec354}

/* Detail页 */
h1.goods_title{font-family: "CreightonProMedium",Microsoft Yahei;font-size: 28px; height: 70px; line-height: 70px;  padding: 5px 20px; margin-bottom: 10px; color: #2c2c2c; background:url(../images/hi_repeat-pattern.png) repeat; border-bottom: 2px solid #b3b3b3; text-shadow:0 1px 2px rgba(158, 158, 158, 0.2); position: relative }
.detail-box{margin-bottom: 15px; padding: 20px;}
.detail-about{position:relative; margin-top:5px; line-height:20px; background-color: #F2F2F2; padding: 15px; color:#999;}
.detail-about span,
.jie-about span,
.detail-about .jie-user{margin-right:10px; display:inline-block; *display:inline; *zoom:1; vertical-align:top; font-size:12px;}
.detail-about .jie-status, .detail-about .jie-status-ok{color:#fff;}
.detail-about .fly-jing{padding:0 6px; background-color:#c00; color:#fff;}
.detail-about .jie-user{position:relative;}
.detail-about .jie-user cite{top: -3px; left: 56px; width: 260px; color: #4f99cf; font-size: 14px;}
.detail-about .jie-user cite em{padding-left:5px; color:#999; cursor:default; font-size:12px; font-style: normal;}
.detail-about .jie-user img{position: relative; display: block; margin: 0; top: 0; border-radius: 50%;}
.detail-hits{position:absolute; left: 71px; bottom: 10px; font-size: 0;}
.detail-hits span{margin-top: 0; font-size: 12px;}
.detail-hits .layui-btn{border-radius: 0;}
.detail-hits .layui-btn+.layui-btn{margin-left: 5px;}
.detail-hits .jie-admin{margin-right: 1px;}
.detail-body{margin: 20px 0 0; min-height: 202px; line-height:26px; font-size:16px; word-wrap: break-word;}
.g_content .detail-body{ margin:0}
.detail-body p{margin-bottom:15px; color: #2c2c2c; font-size: 14px;}
.detail-body a{color:#4f99cf;}
.detail-body img{max-width: 100%; display: block; height: auto; margin: 0 auto 15px;/*cursor: crosshair;*/}
.detail-body table{margin: 10px 0 15px;}
.detail-body table thead{background-color:#f2f2f2;}
.detail-body table th,
.detail-body table td{padding: 10px 20px; line-height: 22px; border: 1px solid #DFDFDF; font-size: 14px; font-weight: 400;}
.detail-about-reply{background: none; padding: 0;}
.detail-about-reply .detail-hits{/*left: 56px; bottom: 0;*/ left:auto; bottom: auto; right: 0; top: 0}
.detail .page-title{ border: none; background-color: #f2f2f2;}
.detail-box .fly-list-hint a:hover {color: #5fb878;}
.detail-box .fly-list-hint a:hover i {color: #5fb878;}
#details_goods_img img{ /*width:720px; height: 720px;*/ margin-bottom: 0; vertical-align: middle}
.like_comment{position: relative;margin-top: 5px;line-height: 20px; padding: 15px 0 0; font-size: 18px;}
.like_comment .goods_comment{ position: absolute; right: 0; color: #2c2c2c}
.like_comment .icon-jushoucanggift{ font-size: 20px; color: #fcd346}
.like_comment .article_fav_num,.like_comment .comment_num{ font-size: 18px !important; line-height: 20px; margin-left: 10px}
.g_content #article-pariset-list{ text-align: left; margin-top: 10px; margin-bottom: -10px}
#goods_img_list{ margin-left: -30px;  height: auto; overflow: hidden}
#goods_img_list li{float: left;width: 140px;height: 140px;  margin:0 0 30px 30px; overflow: hidden; }
#goods_img_list li:last-child{ margin-bottom: 10px}
#goods_img_list li a.on img{ background-color: rgba(0,0,0,0.1)}
#goods_img_list li a{display:table-cell;vertical-align: middle; text-align: center; width: 130px; height: 130px;padding: 5px;background-color: #fff;}
#goods_img_list li img{ max-width:130px; max-height:130px;vertical-align: middle;}
.goods_price{ font-family: "CreightonProMedium",Microsoft Yahei; letter-spacing: 2px; padding: 15px 10px; font-size: 30px; font-weight:bold; position: relative}
.goods_price .icon-jiage{font-size:28px; margin-right: 15px}
.introduce{ padding: 0 10px 15px; position:relative}
.introduce .user_head img{width: 35px; height: 35px; border-radius: 50%}
.introduce h2{ display: inline-block; margin-left: 10px; font-size: 16px;}
.introduce .commodity-quote{margin:20px 0 0 10px;}
.link_note{ padding:20px 10px 0;}
.link_note button{height:56px; width: 40%; font-size: 18px; font-weight:700; opacity:1;box-shadow: 0 1px 2px 0 rgba(158, 158, 158, 0.2); }
.link_note button .icon-jushoucanggift,.link_note button .icon-goumai{ font-size:24px; margin-right: 5px; line-height: 56px; }
.link_note .buy_btn{ width: 56%; background-color: #fdd446; color: #151515}
.link_note button:hover{opacity:1}
.other_goods{ margin-left: -10px; margin-top: 8px;margin-bottom: -12px; padding-left: 5px;  height: auto; overflow: hidden}
.other_goods li{float: left;width: 150px;height: 150px;  margin:0 0 10px 10px; overflow: hidden; }
.other_goods li a{ width: 140px; height: 140px; display:table-cell; text-align: center; vertical-align: middle;padding: 4px; border: 1px solid #d9d9d9; background-color: #fff;}
.other_goods li img{ max-width:140px; max-height:140px;vertical-align: middle; }

.other_goods_list{height: auto; overflow: hidden}
.other_goods_list li{float: left;width: 230px;height: 230px;  margin:0 0 15px 15px; overflow: hidden; position: relative }
.other_goods_list li:hover .item_bg,.other_goods_list li:hover .item_title,.other_goods_list li:hover .item_price,.other_goods_list li:hover .fav_num{display: inline-block;}
.other_goods_list li a{ display:table-cell;vertical-align: middle; text-align: center; width: 220px; height: 220px;padding: 5px;background-color: #fff;}
.other_goods_list li a img{  max-width:220px; max-height:220px; vertical-align: middle;}
.other_goods_list li .item_bg{background: #000;filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; width: 100%;height: 100%;position: absolute;bottom: 0;left: 0;top: 0; z-index: 1; display: none}
.other_goods_list li .item_title{ display: none;width: 92%; padding: 0 10px; height: 36px; line-height: 16px; color:#fff; position: absolute; top: 180px; left:0;z-index: 2}
.other_goods_list li .item_title a{ padding: 0; display:inline; background: none; color: #fff}
.other_goods_list li .item_price{  display: none; color: #fff;font-family: "CreightonProMedium",Microsoft Yahei;letter-spacing: 2px; position: absolute;  right: 8px;  top: 12px; z-index: 2}
.other_goods_list li .fav_num{color: #fcd346;display: none;font-size: 18px;font-weight: bold;line-height: 18px;position: absolute;left: 15px; top: 13px; z-index: 2;}


/* 求解 */
.jie-row li{position: relative; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #E9E9E9; font-size: 0;}
.jie-row li *{display:inline-block; *display:inline; *zoom:1; vertical-align:top; line-height: 24px; font-size:12px;}
.jie-row li span{height: 24px; line-height: 24px; padding: 0 10px; margin-right: 10px; background-color: #DADADA; color:#fff; font-size:12px;}
.jie-row li .fly-stick{background-color:#393D49;}
.jie-row li .fly-jing{background-color:#CC0000;}
.jie-row li .jie-status{margin:0 10px 0 0;}
.jie-row li .jie-status-ok{background-color:#8FCDA0;}
.jie-row li a{ padding-right:15px; font-size:14px;}
.jie-row li cite{padding-right:15px;}
.jie-row li i, .jie-row li em, .jie-row li cite{font-size:12px; color:#999; font-style: normal;}
.jie-row li .mine-edit{margin-left:15px; padding:0 6px; background-color: #8FCDA0; color:#fff; font-size:12px;}
.jie-row li em{position:absolute; right:0; top:0;}
.jie-row li .jie-user{}
.jie-row li .jie-title{max-width: 330px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jie-row li .jie-user img{position:relative; top: 16px; width: 35px; height: 35px;}

.jie-add{position:absolute; right:0; top:0; font-size:14px;}
.jie-list li h2 span{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.jie-list li{position:relative; margin-bottom:0; padding:10px 0 10px 60px; border-bottom:1px dotted #E9E9E9}
.jie-user img{position:absolute; left:0; top:50%; width:35px; height:35px; margin-top:-23px;}
.jie-user cite{position:absolute; right:0; top:10px; line-height:26px; color:#999;}
.jie-user cite i{font-style: normal;}
.jie-list li h2{margin-right:80px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.jie-list li h2 a{font-size:16px; line-height:28px;}
.jie-list li h2 span{position:relative; top:4px; height:20px; line-height:20px; padding:0 10px; margin-left:10px; font-size:12px; background-color:#393D49; color:#fff; }
.jie-list li h2 .fly-jing{padding:0 6px; background-color:#c00;}
.jie-about{position:relative; margin-top:5px; line-height:26px; font-size:0; color:#666;}

.jie-status{line-height:20px; margin-top:3px; padding:0 8px; background-color:#ccc;}
.jie-status-ok{background-color:#8FCDA0;}
.jie-about .jie-status, .jie-about .jie-status-ok{color:#fff;}
.jie-about span{color:#999;}
.jie-about .jie-hits{position:absolute; right:0; top:0; margin:0;}
.jie-hits *{padding-left:15px;}

.jie-form{width:860px;}
.jie-form .jie-addexp{margin-left:15px;}
.jie-form .jie-addexp span{color:#FF7200;}
.jie-form .jie-addexp .layui-form-sltitle{width:55px;}
.jie-form .jie-addexp li a{min-width:87px;}


/* 求解管理 */
.jie-admin{cursor:pointer;}
.detail-hits .jie-admin{color:#fff; padding:0 10px; }
.detail-hits .jie-admin a{color:#fff;}
.jieda-admin{position:absolute; right:0; top:0;}

/* 回答 */
.jieda{margin-bottom: 30px;}
.jieda li{position: relative; padding: 20px 0 10px; border-bottom:1px dotted #DFDFDF;}
.jieda li:last-child{border-bottom: none;}
.jieda .fly-none{height: 50px; min-height: 0; padding: 50px 0 0;}
.jieda .icon-caina{position:absolute; right:10px; top:15px; font-size:60px; color: #58A571;}

.jieda-body{margin: 0 0 20px 53px !important; min-height: 0; line-height: 18px; font-size:13px;}
.jieda-body p{margin-bottom: 10px;}
.jieda-body a{color:#4f99cf}
.jieda-body img{ margin:0; display: inline-block}
.jieda-reply{position:relative}
.jieda-reply span{padding-right:20px; color:#999; cursor:pointer;}
.jieda-reply span:hover{color:#666;}
.jieda-reply span i{margin-right:5px; font-size:16px;}
.jieda-reply span em{font-style: normal;}
/*.jieda-reply span .icon-zan{font-size: 22px;}*/
.jieda-reply .zanok,
.jieda-reply .jieda-zan:hover{color:#c00}
.jieda-reply span .icon-svgmoban53{position: relative; top: 1px;}


/* 广告 */
.fly-ad{position: relative; background-color: #f2f2f2; overflow:hidden;}
.fly-ad:before{content: '广告位'; position: absolute; z-index: 0; top: 50%; left: 50%; left: 50%; margin: -10px 0 0 -25px; color: #aaa; font-size: 18px; font-weight: 300;}
.fly-ad div{position: relative; z-index: 1;}

/* 右下角bar */
.fly-rbar{position: fixed; z-index:9999; right: 20px; bottom: 50px; width:50px;}
.fly-rbar li{height: 50px; line-height: 50px; margin-bottom: 1px; text-align:center; cursor: pointer; font-size:26px; background-color: #2c2c2c; color:#fff; border-radius: 2px;}
.fly-rbar li:hover{opacity: 0.8;}
.fly-rbar li.icon-top{display:none; font-size:40px;}

/* Tip标签 */
.fly-tip{position: relative;}
.fly-tip span{display: inline-block; *display: inline; *zoom: 1; vertical-align: top;}
.fly-tip span{height: 20px; line-height: 20px; padding: 0 5px; background-color: #999; color: #fff; font-size: 12px; border-radius: 0;}
.fly-tip .fly-tip-stick{background-color: #393D49;}
.fly-tip .fly-tip-jing{background-color: #c00;}
.fly-tip .fly-tip-jie{background-color: #8FCDA0;}

/* 新版列表 */
.fly-list{padding: 5px 0; background-color: #fff; border-radius: 2px;}
.fly-list li:last-child{border-bottom: none;}


.fly-list .fly-list-li{position: relative; height: 45px; margin-top: 0; padding: 10px 0 10px 75px; border-bottom: 1px dotted #E9E9E9;}
.fly-list-li .fly-list-avatar{position: absolute; left: 15px; top: 10px;}
.fly-list-li h2{line-height: 26px; font-size: 0;}
.fly-list-li h2 *{display: inline-block; *display: inline; *zoom: 1; vertical-align: top;}
.fly-list-li h2 a{max-width: 86%; margin-right: 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 16px;}
.fly-list-li h2 span{position: relative; top: 3px; margin-left: 5px;}

.fly-list-li a:hover{color: #009E94;}
.fly-list-li p{position: relative; line-height: 20px; font-size: 12px; color: #999;}
.fly-list-li p span{padding-right: 15px;}
.fly-list-li p span a{color: #999;}
.fly-list-avatar img{width: 45px; height: 45px; border-radius: 2px;}
.con_img .fly-list-avatar img{width: 480px; height: 180px; }
.fly-list-hint{position: absolute; right: 0; top: -2px;}
.fly-list-hint i{padding-left: 10px; color: #ccc;}

.fly-list-top{margin-bottom: 15px; }
.fly-list-top .fly-list-li{}

/* 单行列表 */
.fly-list-one{margin-bottom: 15px; padding: 0 0 10px;}
.fly-list-one dd{margin: 0 15px; line-height: 26px; white-space: nowrap; overflow: hidden; list-style: decimal-leading-zero inside; *list-style-type: decimal inside; color: #009E94;}
.fly-list-one dd a,
.fly-list-one dd span{display: inline-block; *display: inline; *zoom: 1; vertical-align: top; font-style: normal}
.fly-list-one dd a{max-width: 80%; margin-right: 5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 14px;}
.fly-list-one dd span{font-size: 12px; color: #ccc;}

/* 新版Detail */
.fly-detail-hint{margin: 5px 0 15px;}
.fly-detail-hint .layui-btn+.layui-btn{margin-left: 0;}


/* 案例 */
.fly-case-header{position: relative; height: 290px; text-align: center; background: #393D49;}
.fly-case-year{position: absolute; top: 30px; width: 100%; line-height: 50px; font-size: 50px; text-align: center; color: #fff; font-weight: 300;}
.fly-case-banner{position: absolute; left: 50%; top: 100px; width: 670px; margin-left: -335px;}
.fly-case-btn{position: absolute; bottom: 30px; left: 0; width: 100%; text-align: center;}
.fly-case-btn a{color: #fff;}
.fly-case-btn .layui-btn{border-radius: 30px;}
.fly-case-btn .layui-btn-primary{background: none; color: #fff;}
.fly-case-btn .layui-btn-primary:hover{border-color: #5FB878;}

.fly-case-tab{margin-top: 20px; /*text-align: center;*/}
.fly-case-tab span,
.fly-case-tab span a{border-color: #2c2c2c;}
.fly-case-tab .tab-this{background-color: #2c2c2c; color: #fff;}

.fly-case-list-wrap{ width: 100%; overflow:hidden}
.fly-case-list{margin-top: 15px; margin-left: -15px; font-size: 0; }
.fly-case-list li,
.layer-ext-ul li{display: inline-block; vertical-align: middle; *display: inline; *zoom:1; font-size: 18px; background-color: #fff;}
.fly-case-list{width:110%;}
.fly-case-list li{width: 280px; margin: 2.5%; padding: 10px;}
.fly-case-list li:hover{box-shadow: 1px 1px 5px rgba(0,0,0,.1);}
.fly-case-img{position: relative; display: block;}
.fly-case-img img{width: 280px; height: 280px;}
.fly-case-img .layui-btn{display: none; position: absolute; top:100px; left: 50%; margin-left: -37px; font-style: normal; z-index: 2}
.fly-case-img .fav_num{ display: none; position: absolute; top:15px; right: 15px!important; color: #fff; font-size: 18px; line-height: 18px; font-weight: bold; z-index: 2}
.fly-case-img .fav_num i { font-size:20px; margin-right: 5px; color: #fcd346}
.fly-case-img:hover .layui-btn,.fly-case-img:hover .fav_num,.fly-case-img:hover .item_bg{display: inline-block;}
.fly-case-img .fav_btn{ width: 80px; height: 60px; line-height: 60px; font-size: 16px; font-weight: bold;z-index: 2;filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity:1; }
.fly-case-img .fav_btn:hover{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity: 1; }
.fly-case-img .item_bg{background: #000;filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6; width: 100%;height: 100%;position: absolute;bottom: 0;left: 0;top: 0; z-index: 1; display: none}
.fly-case-list li h2{padding: 10px 0; line-height: 14px; font-size: 14px;/* text-align: center;*/}
.fly-case-desc{height: 60px; line-height: 20px; font-size: 12px; color: #666; overflow: hidden;}
.fly-case-info{position: relative; padding-top: 10px; border-top: 1px dotted #eee;}
.fly-case-info p{height:24px; line-height: 24px;}
.fly-case-user{position: absolute; left: 0; top: 5px; width: 35px; height: 35px;}
.fly-case-user img{width: 35px; height: 35px; border-radius: 100%;}
.fly-case-info .layui-btn{position: absolute; right: 0; top: 15px;  padding: 0 15px;}
.fly-case-info .price{ letter-spacing: 2px; color: #2c2c2c; position: absolute; right: 0; top: 12px}
.fly-case-info .price i{ margin-right: 5px}
.layer-ext-ul{margin: 10px; max-height: 500px;}
.layer-ext-ul img{width: 50px; height: 50px; border-radius: 100%;}
.layer-ext-ul li{margin: 8px;}

.layer-ext-case .layui-layer-title{border: none; background-color: #2c2c2c; color: #fff;}

/*编辑器*/
.edit_toolbar{
    border: solid 1px #e6e6e6;
    padding: 0 10px;
    border-bottom: none;
    background: #fff;
    text-align: left;

}
.edit_toolbar>a{ padding: 8px 10px; display: inline-block; color: #009E94; line-height: 24px}
.edit_toolbar>a>i{margin-right: 6px; font-size:18px }
.edit_toolbar .toolbox{
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 999;
}
.yan_face_box{color: #111;}
.yan_face_box ul{width: 455px;}
.yan_face_box ul li{width: 86px;}
.yan_face_box ul .big_face{width: 177px !important;}
.mt10 { margin-top: 10px;}
.mb20 {margin-bottom: 20px !important;}
.t_orange { color: #f60;}
.article-praise-user { margin: 75px 0 20px;}
.article-praise-user .btn { background: #fff;border: 1px solid #4c4c4c;border-radius: 50%;color: #4c4c4c;display: block;font-size: 16px;height: 80px;line-height: 40px;margin: auto;padding: 0; width: 80px;}
.article-praise-user .btn:hover, .article-praise-user .btn.on {border-color: #fe584d;color: #fe584d;}
.article-praise-user .btn .icon-jushoucanggift{ width: 40px; display: block; font-size: 40px; margin: 12px auto auto;}
.article_fav_num{ font-size: 14px !important; line-height: 20px; text-align: center}
.article-praise-user .article-praise-user-box { margin: 0 auto;height: 44px;overflow: hidden; width: 600px;}
#article-pariset-list {margin-left: 8px;text-align: center; }
#article-pariset-list li {border: 2px solid #fff;border-radius: 50%; display: inline-block; height: 35px; margin-left: -8px; overflow: hidden; width: 35px;}
#article-pariset-list img{margin: auto}

/*收藏按钮*/
 .toshare{ margin:20px 0; text-align:right }
.goods_price .toshare{position:absolute; right:20px; top:15px; font-weight: normal;margin: 0;}
.favorite_btn{float: right;}
.favorite_btn .iconfont{font-size: 22px; vertical-align: -4px;}

/*分享按钮start*/
.share_btns_wrap{ text-align: right; position:relative;}
.share_btns_wrap:hover .sharebox{display:block; }
.share_btns_wrap .share_btn i{ font-size:24px!important;}
.sharebox{display:none; position:absolute; top:27px; left:-48px;border-radius:3px; padding:0!important; width:120px; z-index:999;}
.goods_price .sharebox{ top:37px;}
.sharebox .up-arrow{position:absolute; left:50%;top:-10px; background:url('../img/up.png') no-repeat 0 0; width:22px; height:10px;margin-left:-11px;}
.sharebox .bdsharebuttonbox{ _overflow-x: hidden; z-index: 999999; font-size: 12px; float: left; text-align: left!important; zoom: 1; background: #fff; border-radius: 3px;border: 0;box-shadow: 0 0 10px #ddd;padding-top: 6px;padding-bottom: 6px!important;}
.sharebox .bdsharebuttonbox a{ text-decoration: none;cursor: pointer; display: block; background-image: none!important; float: none!important; padding: 8px 12px;font-size: 14px!important;color: #666!important;text-align: left; overflow: hidden; height: 20px; line-height: 20px; margin:0;}
.sharebox .bdsharebuttonbox a .iconfont{display:inline-block;width:18px;height:18px; font-size:18px !important;}
.sharebox .bdsharebuttonbox a:hover{background-color:#f2f2f2;}
.sharebox .bdsharebuttonbox .bds_tsina .iconfont{color:#e24f48; vertical-align: 0px;}
.sharebox .bdsharebuttonbox .bds_qzone .iconfont{color:#f2a408; vertical-align: 0px;}
.sharebox .bdsharebuttonbox .bds_sqq .iconfont{color:#2fa5e3; vertical-align: -1px;}
.sharebox .bdsharebuttonbox .bds_weixin .iconfont{color:#1c980b; vertical-align: -2px;}
.sharebox .bdsharebuttonbox .popup_more .iconfont{color:#66acf9; vertical-align: -1px;}
.sharebox .bdsharebuttonbox .bds_count{text-align:center; font-size:16px !important;}
/*分享按钮end*/
.fly-tip .fly-tip-attile_type_1 a,.fly-tip .fly-tip-attile_type_2 a{ color:#fff}
.fly-tip .fly-tip-attile_type_1 {
    background-color: #34a853;
    color: #fff;
}
.fly-tip .fly-tip-attile_type_2 {
    background-color: #4285f4;
    color: #fff;
}
.fly-tip .fly-tip-attile_type_3 {
    background-color: #ea4335;
    color: #fff;
}
/*home*/
.homeindex li.home_li{width: 270px; border: 1px solid #eee}
.homeindex li.home_li .fly-case-img img {width: 270px; height: 270px;}


/*资讯new*/
#article {
/*    float: left;
    min-height: 600px;
    padding: 0 0 15px;*/
    position: relative;
/*    width: 715px;*/
}
.clear {    clear: both;}
#article .posts{ padding:0;background: none}
#article .article-title, .related_about, #comment-title {
    border-bottom: 1px solid #eeeeee;
    clear: both;
    font-size: 19px;
    line-height: 35px;
    padding: 18px;
    text-transform: none;
}
#article .loop {
    background: #fff none repeat scroll 0 0 padding-box;
    border-color: #ebedf1;
    border-radius: 0;
    border-top: 1px solid #ebedf1;
    box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
    margin: 0 0 25px;
	padding: 0;
	height: auto;
	border-bottom:none;
    overflow: hidden;
    position: relative;
}
#article .loop .content {
    overflow: hidden;
    padding: 20px;
}
#article .loop .content-img {
    float: left;
    height: 130px;
    overflow: hidden;
    width: 210px;
}
#article .loop .content-img img {
    height: auto;
    width: 100%;
}
#article .loop .content-img:hover img {
    opacity: 0.8;
}
#article .loop .content-img img, #article .loop .content-two-img img {
    transform: scale(1);
    transition: all 1s ease 0s;
}
#article .loop .content-img:hover img, #article .loop .content-two-img:hover img {
    transform: scale(1.1);
    transition: all 1s ease 0s;
}
#article .loop .content_body {
    display: block;
    margin-left: 230px;
}
#article .loop .content_body h2 {
    color: #32a5e7;
    font-size: 20px;
    line-height: 25px;
	line-height: 1.3;
}
#article .loop .content_body h2 a, #article .loop .content_body h2 a:visited {
	font-size: 16px;
	font-weight: 700;
    color: #2c2c2c;
}
#article .loop .content_body:hover h2 a {
    color: #282828;
}
#article .loop .content_body p {
    color: #9a9898;
    font-size: 13px;
    margin: 10px 0;
}
#article .loop .content_infor {
    border-top: 1px solid #f3f3f3;
    clear: both;
    color: #888;
    display: block;
    font-size: 12px;
    line-height: 27px;
    overflow: hidden;
    padding: 12px 25px;
}
#article .loop .content_infor a {
    color: #888;
}
#article .loop .content_infor span, #article .loop .content_infor .auther {
    margin-right: 10px;
}
#article .loop .content_infor a:hover {
    color: #32a5e7;
}
#article .loop .content_infor .avatar {
    border-radius: 30px;
    height: auto;
    margin-right: 10px;
    width: 28px;
}
#article .loop .more {
    float: right;
    margin-left: 10px;
}
#article .loop-two {
    margin-bottom: 40px;
}
#article .loop-two .content_body {
    margin-left: 0;
    padding: 20px;
}
#article .loop-two .content_body p {
    margin-bottom: 0;
}
#article .loop .content-two {
    height: 255px;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
#article .loop .content-two img {
    height: auto;
    margin: 0;
    width: 100%;
}
#article .loop .content-two:hover img {
    opacity: 0.9;
}
#article .loop .content-two a {
    display: block;
    height: 255px;
}
.content-two span .favorite {
    background-color: #fff;
    color: #f78585;
    font-size: 12px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 15px;
    width: auto;
}
.content-two span a {
    border-radius: 12px;
    float: right;
    height: 24px !important;
    line-height: 24px;
    padding: 0 12px 0 8px;
}
.content-two span .favorite:hover, .content-two span .done {
    background-color: #f66;
    color: #fff !important;
}
.content-two span .favorite i, .content_infor span .favorite i {
    font-size: 12px;
    margin-right: 1px;
}
.hotpost{}
.hotpost dd {
    border-bottom: 1px solid #eee;
	margin:0;
    clear: both;
	margin: 18px;
	padding: 0 0 18px;
}
.hotpost dd a {
    display: block;
    overflow: hidden;
    position: relative;
	max-width: 100%;
}
.hotpost dd img {
    border: 1px solid #ddd;
    border-radius: 2px;
    float: left;
    height: 60px;
    width: 75px;
}
.hotpost dd .hotpost-left {
    margin-left: 90px;
    overflow: hidden;
}
.hotpost .hot-post-title {
    color: #555;
    display: block;
    line-height: normal;
    overflow: hidden;
    overflow-wrap: break-word;
}
.hotpost .hot-post-info {
    color: #9a9a9a;
    font-size: 12px;
    line-height: 27px;
    margin-right: 8px;
}
.breadcrumb {
    color: #555;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 0;
    position: relative;
	display:none
}
.breadcrumb span{ font-size:12px; border: none}
.breadcrumb a {
    font-size: 12px;
	color: #424242;
}
.breadcrumb .current, .breadcrumb small {
    color: #999999;
}
/*文章内推荐商品*/
.inner_card_wrap {
	position: relative;
	z-index: 1;
}
.inner_card_wrap .inner_card_inner {
	background: #fff;
	padding: 10px;
	border: 3px solid #efefef;
	display: -webkit-box;
	border-radius: 5px;
	margin: 15px 0
}
.inner_card_wrap .inner_card_inner > a {
	display: block;
	position: relative;

	width: 100%;
}
.inner_card_wrap .inner_card_miaosha {
	background-color: #ED4F37;
	color: #fff;
	text-align: center;
	position: absolute;
	width: 35px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
}
.inner_card_wrap .inner_card_img {
	width: 110px;
	height: 110px;
	float: left;
}
.inner_card_wrap .inner_card_img img {
	width: 100%;
	height: 100%;
	margin: auto
}
.inner_card_wrap .inner_card_price {
	position: absolute;
	bottom: 50px;
}
.inner_card_wrap .inner_card_text {
	height: 110px;
	margin-left: 120px;
	position: relative;
}
.inner_card_wrap .inner_card_text .inner_card_title {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 16px;
	font-size: 12px;
	color: #999
}
.inner_card_wrap .inner_card_text .inner_card_mall {
	color: #999;
	font-size: 12px;
}
.inner_card_wrap .inner_card_text .inner_card_btn_wrap {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}
.inner_card_wrap .inner_card_text .inner_card_btn_inner {
	width: 150px;
	float: right;
	text-align: center;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	position: relative;
}
.inner_card_wrap .inner_card_text .btn-select-buy-more-link {
	position: absolute;
	bottom: 13px;
	background: #ff8981;
	width: 100%;
	z-index: 0;
	border-radius: 5px;
	padding-bottom: 20px;
}
.inner_card_wrap .inner_card_text .btn-select-buy-more-link li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
*border-bottom: 1px solid #fff;
	line-height: 16px;
	font-size: 12px;
	padding: 5px 0;
}
.inner_card_wrap .inner_card_text .btn-select-buy-more-link li:last-child {
	border-bottom: none;
}
.inner_card_wrap .inner_card_text .btn-select-buy-more-link a {
	display: block;
	color: #fff;
}
.inner_card_wrap .inner_card_text .btn-select-buy-more-link .btn-mall {
	color: rgba(255, 255, 255, 0.5);
*color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
.inner_card_wrap .inner_card_text .btn-select-buy-more-link .btn-price {
	color: #fff;
}
.inner_card_wrap .inner_card_text .inner_card_btn {
	background-color: #ED4F37;
	border-radius: 3px;
	color: #fff;
	display: block;
	z-index: 1;
	position: relative;
}
.inner_card_wrap .inner_card_text .card-kill .inner_card_btn {
	background-color: #afafaf;
}
.inner_card_wrap .inner_card_text .card-kill .inner_card_btn.on {
	background-color: #ED4F37;
}
.inner_card_wrap .kill-timer {
	position: absolute;
	right: 156px;
	bottom: 2px;
	font-size: 14px;
	color: #b2b2b2;
}
.inner_card_wrap .kill-timer .kill-timer-number {
	background-color: #595959;
	color: #fff;
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	margin: 0 2px;
}

/*发布文章封面*/
.article-cover {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #f5f5f5;
    height: 200px;
    position: relative;
    width: 200px;
	margin-left: 20px;
}
.article-cover img.icon-img {
	display: block;
	vertical-align: middle;
    height: 75px;
	margin: 50px auto auto;
    width: 90px;
}
.article-cover img.success {
    height: 200px !important;
    width: 200px !important;
}
.article-cover .upload-img-tips {
    color: #cccccc;
    font-size: 12px;
    text-align: center;
}

#hideUploadInputFile {
    background: transparent ;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* 发商品 */
#post-goods{}
#post-goods .fly-main{position:relative; width:1060px; margin:0 auto;}
.content-wrapper {
	position: relative;
	width: 75.4%;
	padding: 20px 30px;
	background: #fff;
	border-radius: 8px;
	margin: 40px auto 120px;
	border: 1px solid #e6e6e6
}


.footer-tool-bar {
  display: none;
  position: fixed;
  border-top: 1px solid #ECECEC;
  height: 50px;
  padding-top: 8px;
  width: 100%;
  bottom: 0px;
  background-color: #f5f5f5;
  overflow: hidden;
  z-index: 10;
}
.footer-tool-bar > div {
  display: inline-block;
  width: 33.33333333333333%;
  float: left;
  text-align: center;
  font-size: 10px;
  line-height: 1.3;
}
.footer-tool-bar > div a {
  color: #919191;
}
.footer-tool-bar > div i {
  font-size: 24px;
	color:#2c2c2c
}
.footer-tool-bar > div.active a {
  color: #37b991;
}
.footer-tool-bar > div.active a .es-icon-home1::before {
  content: "\e6d1";
}
.footer-tool-bar > div.active a .es-icon-newshot::before {
  content: "\e7c4";
}
.footer-tool-bar > div.active a .es-icon-write::before {
  content: "\e760";
}

.u_home li{width: 254px; border: 1px solid #eee}
.u_home li .fly-case-img img{width: 254px; height: 254px;}
.nav-user .post-icons{ position: absolute !important; left: -60px;  top:8px}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.order-alipay .pay {
  text-align: center;
}

.order-alipay .message {
  margin-bottom: 20px;
}

.fly-panel-user .message {
  margin-bottom: 10px;
  padding: 15px;
  line-height: 22px;
  border-left: 5px solid #009688;
  border-radius: 0 2px 2px 0;
  background-color: #f2f2f2;
}

/* 适配多设备 */
@media screen and (max-width: 1024px) {
  .logo{left: 10px;}
  .main, .footer{width: auto; }
  .main{margin: 10px;}
  .content{margin: 0;}
  img{max-width: 100%;}
	.g_content{ margin-right: 335px}
.g_edge {
    float: left;
    margin-left: -320px;
    position: relative;
    top: 92px;
    width: 320px;
}
	.other_goods{ margin-left:0}
	.other_goods li{width: 30.214%; height: auto; margin: 0 0.75% 10px; padding: 0.78125%}
	.other_goods li a{ width: auto; height: auto}
	.other_goods li img{width:100%; height: auto;  }

	.other_goods_list li{ width: 30.214%; height: auto; margin: 0 0.75% 10px; padding: 0.78125%}
	.other_goods_list li a{ width: auto; height: auto}
	.other_goods_list li img{ width:100%; height: auto; }


	.link_note button{ width:42%}
	.link_note .buy_btn{ width:48%}
	.link_note button .icon-jushoucanggift, .link_note button .icon-goumai{ font-size: 18px;}

  .edge{display: block; margin: 20px 0; width: 100%;}

  body .leifeng-rank{width: 100%; margin-left: 5px; text-align: center;}
  .fly-ad{text-align: center; background: none}

  .fly-home-main>.layui-inline{width: 100%;}
  .fly-home-da{margin-left: 0;}
  .jie-row li .jie-title{max-width: 80%;}
  .jie-row li i, .jie-row li em{display: none}
}

@media screen and (max-width: 750px) {
  .nav,
  .fly-tab,
  .fly-search,
  .nav-user .unlogin,
  .nav-user .avatar,
  .nav-user>span,
  .nav-user .out-login,
  .fly-list-li h2 span,
  .fly-list-hint{display:none;}
  .g_content{margin: 0;}
  .g_edge{display: block; margin: 20px 0; width: 100%;}
  .g_edge{ top:0}
  .nav-user{top: 18px;}
 /* .nav-user .out-login{display: block; margin-right: 15px;}*/
  .nav-message{left: 0;}
  .fly-list-li h2 a{max-width: 100%;}
  .fly-list-one li{margin: 0 10px;}
  .nav-user span.post-icons{display:block; top:0; left:-35px}
  .detail-hits{}
  .fly-detail-hint .fly-list-hint,#reg-box{display: block;}
  .fly-edit span{padding: 0 6px;}

  .jie-add{position: relative; display: inline-block;}
  .laypage-main a, .laypage-main span{display: none;}
  .laypage-main .laypage-prev,
  .laypage-main .laypage-next{display: inline-block;}

  .fly-case-banner{width: 300px; margin-left: -150px;}
  .fly-case-list,
  .fly-case-list li,
  .fly-case-img img{width: 100%;height: 100%;  -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}
  .fly-case-list{ width:110%}
  .fly-case-list li{width: 45%; padding: 5px }
  .fly-case-info,.fly-case-list li .fly-case-img .fav_btn{ display:none}


  .footer{margin-top: 25px;}

  .jie-row li span,
  .jie-row li .mine-edit{display: none}
  .jie-row li .jie-title{max-width: 100%;}

  body .fly-user-main{width: auto; margin: 10px;}
  .fly-user-main>.layui-nav{left: -300px; transition: all .3s; -webkit-transition: all .3s;}
  .fly-user-main>.fly-panel-user{width: auto; margin-left: 0; transition: all .3s; -webkit-transition: all .3s;}
  .site-tree-mobile{display: block!important; position: fixed; z-index: 100000; bottom: 20px; left: 10px; width: 50px; height: 50px; line-height: 50px; border-radius: 2px; text-align: center; background-color: rgba(0,0,0,.7); color: #fff;}
  .site-mobile .site-tree-mobile{display: none !important;}
  .site-mobile .fly-user-main>.layui-nav{left: 0;}
  .site-mobile .site-mobile-shade{content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.9); z-index: 999;}

  .article-praise-user .article-praise-user-box{ width:100%}
	h1.goods_title{ height: auto;line-height: 30px}

	.link_note button{ width:43%}
	.link_note .buy_btn{ width:50%}
	.link_note button .icon-jushoucanggift, .link_note button .icon-goumai{font-size:16px;}

	#goods_img_list_wrap,#goods_jieda1,#pc_info{ display:none}
	.other_goods{ margin-left:0}
	.other_goods li{width: 30.214%; height: auto; margin: 0 0.75% 10px; padding: 0.78125%}
	.other_goods li a{ width: auto; height: auto}
	.other_goods li img{width:100%; height: auto;  }

	.other_goods_list li{ width: 30.214%; height: auto; margin: 0 0.75% 10px; padding: 0.78125%}
	.other_goods_list li a{ width: auto; height: auto}
	.other_goods_list li img{ width:100%; height: auto; }
	.other_goods_list li:hover .item_bg,.other_goods_list li:hover .item_title,.other_goods_list li:hover .item_price,.other_goods_list li:hover .fav_num,.index .jie-add{display:none}
	#article .loop .content_infor,.hotpost,.tuijian_goods{display:none}
	#article .loop .content_body p{ margin:0; font-size:12px}
	.breadcrumb{ display:inline-block; margin: 0 0 10px; padding: 0}
	.footer-tool-bar, .index,#mobile_info{display: block !important;}
	.index span a{ padding:0 10px}
	.goods_price{ margin-top:-5px}

.fly-case-list li.home_li{width: 44%; }
.fly-case-list li.home_li .fly-case-img img {width: auto; height: auto;}
	.fly-case-list{ width:100%; padding-left: 15px}
	.fly-case-header{ height:auto;}
	#article .loop .content-two a,#article .loop .content-two{ height:auto}
	.u_home li {width: 45%;}
	.u_home li img{ width:100%; height: 100%}
	.homeindex{ padding-left: 0}
	.fly-case-header .layui-show,#pc_price_like{ display:none !important;}
	.fly-case-header .mb_banner,#mobile_price_like{ display:block !important;}

	#fetch-good{ width:100%; padding:5px 10px }
	#post-goods .fly-main{ width:100%}
	#fetch-good .cmd-link{ width:75% !important}
	#fetchCommodity{ width:20% !important}
	#fetch-good .cmd-info-fields .right{ float:none}
}
