{#
/**
 * @file order_entity.html.twig
 * Default theme implementation to present Order entity data.
 *
 * This template is used when viewing Order entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_order_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('order_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
