<div id="header" class="header">
 <div class="main">
  <a class="logo pjax" href="/" title="猎人小店" _hover-ignore="1">猎人小店</a>
  <div class="nav">
   <a class="pjax  nav-this" href="/category/1"> <i class="iconfont icon-chaopaibaokuan"></i>盆景 </a>
   <a class="pjax " href="/category/2"> <i class="iconfont icon-maipin"></i>水草 </a>
   <a class="pjax " href="/category/3"> <i class="iconfont icon-icon1460192028703"></i>多肉 </a>
   <a class="pjax " href="/category/4"> <i class="iconfont icon-peishi1"></i>挂面 </a>
   <a class="pjax " href="/category/5"> <i class="iconfont icon-yifu"></i>童装 </a>
   <!--<a class="pjax " href="/news"> <i class="iconfont icon-zixun"></i>小店记事 </a>-->
  </div>
  <div class="nav-user">
    @if (\Drupal::currentUser()->isAnonymous())
      <!-- 未登入状态 -->
       <a class="unlogin" href="/login"><i class="iconfont icon-guanwang"></i></a>
       <span id="reg-box"><a href="/login">登入</a><a href="/regist">注册</a></span>
    @else
      <!-- 登入后的状态 -->
      <a class="avatar" href="/u/{{ \Drupal::currentUser()->id() }}"> <img src="{{ $theme_path }}/images/0.jpg" /> <cite>{{ \Drupal::currentUser()->getUsername() }}</cite>
       <!--<i>VIP2</i>--> </a>
      <div class="nav">
       <a href="/buy"><span class="iconfont  icon-goumai"></span> 购物车 ({{ count_cart() }})</a>
       <a href="/u/{{ \Drupal::currentUser()->id() }}"><i class="iconfont icon-shezhi"></i>设置</a>
       <a href="/user/logout"><i class="iconfont icon-tuichu" style="top: 0; font-size: 22px;"></i>退了</a>
      </div>
    @endif
  </div>
 </div>
</div>
