<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>猎人小店 | 不走寻常路的杂货铺</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="猎人小店,hunter,drupalhunter,drupal8,项目案例,drupal猎人">
  <meta name="description" content="猎人云-站神社区旗下Drupal猎人专属小店，本站采用Drupal8制作，并由Drupal8世界站神九段的Drupal猎人采用最强最新的尖端d8新建站思路构建设计而成！本店专售一些稀奇少有的东西，目前主营盆景，水草！">
  <link href="{{ $theme_path }}/images/favicon.ico" rel="SHORTCUT ICON">
  <link rel="stylesheet" href="{{ $theme_path }}/layui/css/layui.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/global.css">
  <link rel="stylesheet" data-href="{{ $theme_path }}/css/full.css" class="fly-style">
  <link rel="stylesheet" href="{{ $theme_path }}/css/font.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/swiper.min.css">
  <script src="{{ $theme_path }}/js/jquery.min.js"></script>
  <script src="{{ $theme_path }}/js/swiper.min.js"></script>

</head>

 <body class="fly-full">
  @include('header')
  <div class="fly-case-header">
	   <!-- Swiper -->
     <div class="swiper-container">
      <div class="swiper-wrapper">
         <div class="swiper-slide"><a href="/category/3"><img src="{{ $theme_path }}/images/banner01.jpg" class="layui-show" /><img src="{{ $theme_path }}/images/banner01.jpg" class="layui-hide mb_banner" /></a></div>
          <div class="swiper-slide"><a href="/category/3"><img src="{{ $theme_path }}/images/banner02.jpg" class="layui-show" /><img src="{{ $theme_path }}/images/banner02.jpg" class="layui-hide mb_banner" /></a></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
     <!-- Swiper -->
  	<script>
      var swiper = new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          paginationClickable: true,
          spaceBetween: 30,
          centeredSlides: true,
          autoplay: 2500,
          autoplayDisableOnInteraction: false
      });
   </script>
  </div>

  <div id="index" class="main layui-clear">
   <div class="fly-tab fly-case-tab index">
    <span>
      <a href="/?orderby=new" class="pjax {{ $vars['tab_active'] == 'new' || $vars['tab_active'] == '' ? 'tab-this' : '' }}">最新上架</a>
      <a href="/?orderby=hot" class="pjax {{ $vars['tab_active'] == 'hot' ? 'tab-this' : '' }}">热销推荐</a>
      <a href="/?orderby=special" class="pjax {{ $vars['tab_active'] == 'special' ? 'tab-this' : '' }}">特色商品</a> </span>
   </div>
   <ul class="fly-case-list">
    @foreach ($vars['products'] as $p)
    <li>
     <div class="fly-case-img">
      <a href="/item/{{ $p->id }}" target="_blank" title="{{ $p->name }}" class="pjax"><img src="{{ $p->product_image[0] }}" alt="{{ $p->name }}" title="{{ $p->name }}" /></a>
     </div>
     <div class="fly-case-info">
      <p class="layui-elip" style="font-size: 14px;"><span style="color: #666;"><a href="/item/{{ $p->id }}" target="_blank" class="pjax">{{ $p->name }}</a></span> </p>
      <span class="price"> <i class="iconfont  icon-jiage"></i> {{ $p->product_price }}</span>
     </div> </li>
     @endforeach
   </ul>
   <div style="text-align: center">
    <div class="laypage-main">
     {{ $vars['pager'] }}
    </div>
   </div>
  </div>
  @include('footer')
 </body>
</html>
