<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>猎人小店 | 不走寻常路的杂货铺</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="猎人小店,hunter,drupalhunter,drupal8,项目案例,drupal猎人">
  <meta name="description" content="猎人云-站神社区旗下Drupal猎人专属小店，本站采用Drupal8制作，并由Drupal8世界站神九段的Drupal猎人采用最强最新的尖端d8新建站思路构建设计而成！本店专售一些稀奇少有的东西，目前主营盆景，水草！">
  <link href="{{ $theme_path }}/images/favicon.ico" rel="SHORTCUT ICON">
  <link rel="stylesheet" href="{{ $theme_path }}/layui/css/layui.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/global.css">
  <link rel="stylesheet" data-href="{{ $theme_path }}/css/full.css" class="fly-style">
  <link rel="stylesheet" href="{{ $theme_path }}/css/font.css">
  <script src="{{ $theme_path }}/js/jquery.min.js"></script>
</head>

 <body class="fly-full">
  @include('header')
  <div id="main" class="main layui-clear">
   cart
  </div>
  @include('footer')
 </body>
</html>
