<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>猎人小店 | 不走寻常路的杂货铺</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="猎人小店,hunter,drupalhunter,drupal8,项目案例,drupal猎人">
  <meta name="description" content="猎人云-站神社区旗下Drupal猎人专属小店，本站采用Drupal8制作，并由Drupal8世界站神九段的Drupal猎人采用最强最新的尖端d8新建站思路构建设计而成！本店专售一些稀奇少有的东西，目前主营盆景，水草！">
  <link href="{{ $theme_path }}/images/favicon.ico" rel="SHORTCUT ICON">
  <link rel="stylesheet" href="{{ $theme_path }}/layui/css/layui.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/global.css">
  <link rel="stylesheet" data-href="{{ $theme_path }}/css/full.css" class="fly-style">
  <link rel="stylesheet" href="{{ $theme_path }}/css/font.css">
  <script src="{{ $theme_path }}/js/jquery.min.js"></script>
</head>

 <body class="fly-full">
  @include('header')
  <div id="main" class="main layui-clear">
   <div class="fly-panel fly-panel-user" pad20="">
    <div class="layui-tab layui-tab-brief">
     <ul class="layui-tab-title">
      <li class="layui-this"><a class="pjax" href="/login" title="登录">登录</a></li>
      <li><a class="pjax" href="/regist" title="注册">注册</a></li>
     </ul>
     <div class="layui-form layui-tab-content" style="padding: 20px 0;">
      <div class="layui-tab-item layui-show">
        @if ($vars['message'])
        <div class="message">
          {{ $vars['message'] }}
        </div>
        @endif
       <div class="layui-form layui-form-pane">
        <form method="post" action="/login">
         <div class="layui-form-item">
          <label for="email" class="layui-form-label">用户名</label>
          <div class="layui-input-inline">
           <input type="text" id="name" name="name" autocomplete="off" class="layui-input" />
          </div>
         </div>
         <div class="layui-form-item">
          <label for="pwd" class="layui-form-label">密码</label>
          <div class="layui-input-inline">
           <input type="password" id="pass" name="pass" autocomplete="off" class="layui-input" />
          </div>
         </div>
         <input type="hidden" name="form_build_id" value="{{ $vars['form_build_id'] }}" />
         <input type="hidden" name="form_token" value="{{ $vars['form_token'] }}" />
         <input type="hidden" name="form_id" value="user_login_form" />
         <div class="layui-form-item">
          <button class="layui-btn" lay-submit="">立即登录</button>
         </div>
        </form>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  @include('footer')
 </body>
</html>
