<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>猎人小店 | 不走寻常路的杂货铺</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="猎人小店,hunter,drupalhunter,drupal8,项目案例,drupal猎人">
  <meta name="description" content="猎人云-站神社区旗下Drupal猎人专属小店，本站采用Drupal8制作，并由Drupal8世界站神九段的Drupal猎人采用最强最新的尖端d8新建站思路构建设计而成！本店专售一些稀奇少有的东西，目前主营盆景，水草！">
  <link href="{{ $theme_path }}/images/favicon.ico" rel="SHORTCUT ICON">
  <link rel="stylesheet" href="{{ $theme_path }}/layui/css/layui.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/global.css">
  <link rel="stylesheet" data-href="{{ $theme_path }}/css/full.css" class="fly-style">
  <link rel="stylesheet" href="{{ $theme_path }}/css/font.css">
  <script src="{{ $theme_path }}/js/jquery.min.js"></script>
</head>

 <body class="fly-full">
   @include('header')
   <div id="main" class="main fly-user-main layui-clear">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
     <li class="layui-nav-item  layui-this"> <a class="pjax" href="/u" _hover-ignore="1"> <i class="layui-icon"></i> 已买到的宝贝 </a> </li>
     <li class="layui-nav-item "> <a class="pjax" href="/u/profile" _hover-ignore="1"> <i class="layui-icon"></i> 账户设置 </a> </li>
    </ul>
    <div class="site-tree-mobile layui-hide">
     <i class="layui-icon"></i>
    </div>
    <div class="site-mobile-shade"></div>
    <div class="fly-panel fly-panel-user" pad20="">
     <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
       <li class="layui-this"><a class="pajx" href="/u" style="display: inline-block">所有订单</a></li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
       <div class="layui-tab-item layui-show">
         <table class="layui-table">
           <colgroup>
             <col width="150">
             <col width="200">
             <col>
           </colgroup>
           <thead>
             <tr>
               <th>订单号</th>
               <th>商品名</th>
               <th>金额</th>
               <th>支付状态</th>
               <th>操作</th>
             </tr>
           </thead>
           <tbody>
             @foreach ($vars['orders'] as $o)
             <tr>
               <td>{{ $o->uuid }}</td>
               <td>
                 @foreach ($o->products as $p)
                  <p>{{ $p['name'] }}</p>
                 @endforeach
               </td>
               <td>{{ $o->total_fee }}</td>
               <td>{{ $o->status == 0 ? '未付款' : '已付款' }}</td>
               <td><a href="javascript:;" onclick="orderDel('{{ $o->uuid }}');" class="layui-btn layui-btn-danger layui-btn-mini ajax-delete">删除</a></td>
             </tr>
             @endforeach
           </tbody>
         </table>
       </div>
      </div>
     </div>
    </div>
   </div>
  @include('footer')
  <script src="{{ $theme_path }}/layui/layui.js"></script>
  <script>
      function orderDel(orderid) {
          layui.use(['layer'], function() {
              var $ = layui.jquery;
              var layer = layui.layer;

              layer.confirm('你确定要删除此项吗?', {
                  icon: 3,
                  title: '删除订单'
              }, function(index) {
                  $.ajax({
                      type: "GET",
                      url: '/order/del/' + orderid,
                      success: function(msg) {
                          if (msg) { //如果成功了
                              layer.msg('删除成功!', {
                                  icon: 1,
                                  time: 1000,
                                  shade: 0.1
                              }, function() {
                                  location.reload();
                              });
                          } else {
                              layer.msg('删除失败!', {
                                  icon: 5
                              });
                          }
                      }
                  });
              });
          });
      }
  </script>
 </body>
</html>
