<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>猎人小店 | 不走寻常路的杂货铺</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="猎人小店,hunter,drupalhunter,drupal8,项目案例,drupal猎人">
  <meta name="description" content="猎人云-站神社区旗下Drupal猎人专属小店，本站采用Drupal8制作，并由Drupal8世界站神九段的Drupal猎人采用最强最新的尖端d8新建站思路构建设计而成！本店专售一些稀奇少有的东西，目前主营盆景，水草！">
  <link href="{{ $theme_path }}/images/favicon.ico" rel="SHORTCUT ICON">
  <link rel="stylesheet" href="{{ $theme_path }}/layui/css/layui.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/global.css">
  <link rel="stylesheet" data-href="{{ $theme_path }}/css/full.css" class="fly-style">
  <link rel="stylesheet" href="{{ $theme_path }}/css/font.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/checkout.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/modal.css">
  <script src="{{ $theme_path }}/js/jquery.min.js"></script>
</head>

 <body class="fly-full">
  @include('header')
  <link rel="stylesheet" href="{{ $theme_path }}/layui/css/layui.css"  media="all">
  <div id="main" class="main layui-clear">
    <div class="wrap">
     <h1 class="goods_title">确认订单信息</h1>
     <div class="cart">
      <form class="layui-form layui-form-pane" enctype="multipart/form-data" action="/order/confirm" method="post" id="contact-site-form" accept-charset="UTF-8">
      <fieldset class="layui-elem-field layui-field-title">
        <legend>订单信息</legend>
        <div class="layui-field-box">
          <table class="layui-table">
            <thead>
              <tr>
                <th>订单号</th>
                <th>商品清单</th>
                <th>总价格</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ $vars['data']['orderid'] }}</td>
                <td>
                  @foreach ($vars['data']['products'] as $p)
                    <p>{{ $p['name'] }} x {{ $p['pcount'] }} </p>
                    <input name="pid" type="hidden" value="{{ $p['pid'] }}">
                    <input name="products[]" type="hidden" value="{{ $p['name'] }}x{{ $p['pcount'] }}">
                  @endforeach
                </td>
                <td>￥{{ $vars['data']['totalMoney'] }} 元</td>
              </tr>
            </tbody>
          </table>
          <input name="orderid" type="hidden" value="{{ $vars['data']['orderid'] }}">
          <input name="total_fee" type="hidden" value="{{ $vars['data']['totalMoney'] }}">
        </div>
      </fieldset>
      <fieldset class="layui-elem-field layui-field-title">
        <legend>填写收货信息</legend>
        <div class="layui-field-box">
             <div class="layui-form-item">
               <label class="layui-form-label">姓名</label>
               <div class="layui-input-block">
                 <input type="text" name="name" class="layui-input">
               </div>
             </div>
             <div class="layui-form-item">
               <label class="layui-form-label">电话</label>
               <div class="layui-input-block">
                 <input type="text" name="tel" class="layui-input">
               </div>
             </div>
             <div class="layui-form-item">
               <label class="layui-form-label">地址</label>
               <div class="layui-input-block">
                 <input type="text" name="address" class="layui-input">
               </div>
             </div>
             <div class="layui-form-item layui-form-text">
               <label class="layui-form-label">备注</label>
               <div class="layui-input-block">
                 <textarea name="message" class="layui-textarea"></textarea>
               </div>
             </div>
             <div class="layui-form-item">
               <button class="layui-btn" lay-submit>立即付款</button>
             </div>
        </div>
      </fieldset>
      </form>
      <script src="{{ $theme_path }}/layui/layui.js" charset="utf-8"></script>
    </div>
    </div>
  </div>
  @include('footer')
 </body>
</html>
