<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>猎人小店 | 不走寻常路的杂货铺</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="猎人小店,hunter,drupalhunter,drupal8,项目案例,drupal猎人">
  <meta name="description" content="猎人云-站神社区旗下Drupal猎人专属小店，本站采用Drupal8制作，并由Drupal8世界站神九段的Drupal猎人采用最强最新的尖端d8新建站思路构建设计而成！本店专售一些稀奇少有的东西，目前主营盆景，水草！">
  <link href="{{ $theme_path }}/images/favicon.ico" rel="SHORTCUT ICON">
  <link rel="stylesheet" href="{{ $theme_path }}/layui/css/layui.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/global.css">
  <link rel="stylesheet" data-href="{{ $theme_path }}/css/full.css" class="fly-style">
  <link rel="stylesheet" href="{{ $theme_path }}/css/font.css">
  <script src="{{ $theme_path }}/js/jquery.min.js"></script>
</head>

 <body class="fly-full">
  @include('header')
  <div id="main" class="main layui-clear">
   <div class="wrap">
    <h1 class="goods_title">{{  $vars['product']['name'] }}</h1>
    <div class="g_content detail">
     <div class="fly-panel detail-box">
      <div class="detail-body photos">
       <div id="details_goods_img">
        <img src="{{ $vars['product']['product_image'][0] }}" title="{{ $vars['product']['name'] }}" alt="{{ $vars['product']['name'] }}" />
       </div>
      </div>
     </div>
     <div class="fly-panel fly-list-one layui-hide" id="mobile_price_like">
      <div class="goods_price">
       <i class="iconfont  icon-jiage"></i>{{ $vars['product']['product_price'] }}
      </div>
      <div class="introduce">
       <div class="commodity-quote">
         {!! $vars['product']['product_description__value'] !!}
       </div>
       <div class="link_note">
        <a href="/buy?pid={{ $vars['product']['id'] }}&pcount=1" target="_blank"><button class="layui-btn fav_btn" title="立即购买"><span style="color: #fff">立即购买<span></button></a>
        <a href="javascript:;" onclick="addToCart('{{ $vars['product']['id'] }}');"><button class="layui-btn buy_btn" style=" margin-left: 10px"><i class="iconfont  icon-goumai"> 加入购物车</i></button></a>
       </div>
      </div>
     </div>
     <div class="fly-panel fly-list-one" id="pc_info" style="background-color: #eee">
      <h3 class="fly-panel-title" style="font-weight: bold; font-size: 16px;">【{{ $vars['product']['catname'] }}】其他宝贝<span style="position: absolute; right: 15px;"><a href="/category/{{ $vars['product']['product_cat'] }}" class="pjax">more&gt;&gt;</a></span></h3>
      <ul class="other_goods_list">
        @foreach ($vars['same_products'] as $sp)
        <li><a class="pjax" target="_blank" href="/item/{{ $sp->id }}"><img src="{{ $sp->product_image[0] }}" alt="{{ $sp->name }}" title="{{ $sp->name }}" /></a>
         <div class="item_title">
          <a href="/item/{{ $sp->id }}" target="_blank" title="{{ $sp->name }}" class="pjax">{{ $sp->name }}</a>
         </div> <span class="item_price"> <i class="iconfont  icon-jiage" style="color: #fcd346;margin-right:5px;"></i>{{ $sp->product_price }}</span>
         <div class="fav_num">
          <i class="iconfont  icon-jushoucanggift" style="margin-right:5px;"></i>
          <span class="article_fav_num" style="color: #fff">0</span>
         </div> <a href="/item/{{ $sp->id }}" target="_blank" title="{{ $vars['product']['name'] }}" class="item_bg pjax"></a> </li>
         @endforeach
      </ul>
     </div>
    </div>
   </div>
   <div class="g_edge">
    <div id="goods_img_list_wrap" class="fly-panel fly-list-one" style="background-color: #eee">
     <ul id="goods_img_list">
      @foreach ($vars['product']['product_image'] as $pi)
      <li><a href="javascript:" onclick="set_goods_img(this);" title="{{ $vars['product']['name'] }}"><img src="{{ $pi }}" alt="{{ $vars['product']['name'] }}" /></a></li>
      @endforeach
     </ul>
    </div>
    <div class="fly-panel fly-list-one" id="pc_price_like">
     <div class="goods_price">
      <i class="iconfont  icon-jiage"></i>{{ $vars['product']['product_price'] }}
     </div>
     <div class="introduce">
      <div class="commodity-quote">
        {!! $vars['product']['product_description__value'] !!}
      </div>
      <div class="link_note">
       <a href="/buy?pid={{ $vars['product']['id'] }}&pcount=1" target="_blank"><button class="layui-btn fav_btn" title="立即购买"><span style="color: #fff">立即购买<span></button></a>
       <a href="javascript:;" onclick="addToCart('{{ $vars['product']['id'] }}');"><button class="layui-btn buy_btn" style=" margin-left: 10px"><i class="iconfont  icon-goumai"> 加入购物车</i></button></a>
      </div>
     </div>
    </div>
    <div class="fly-panel fly-list-one layui-hide" id="mobile_info" style="background-color: #eee">
     <h3 class="fly-panel-title" style="font-weight: bold; font-size: 16px;">【{{ $vars['product']['catname'] }}】其他宝贝<span style="position: absolute; right: 15px;"><a href="/category/{{ $vars['product']['product_cat'] }}" class="pjax">more&gt;&gt;</a></span></h3>
     <ul class="other_goods_list">
      @foreach ($vars['same_products'] as $sp)
      <li><a class="pjax" target="_blank" href="/item/{{ $sp->id }}"><img src="{{ $sp->product_image[0] }}" alt="{{ $sp->name }}" title="{{ $sp->name }}" /></a>
       <div class="item_title">
        <a href="/item/{{ $sp->id }}" target="_blank" title="{{ $sp->name }}" class="pjax">{{ $sp->name }}</a>
      </div> <span class="item_price"> <i class="iconfont  icon-jiage" style="color: #fcd346;margin-right:5px;"></i>{{ $sp->product_price }}</span>
       <div class="fav_num">
        <i class="iconfont  icon-jushoucanggift" style="margin-right:5px;"></i>
        <span class="article_fav_num" style="color: #fff">0</span>
       </div> <a href="/item/{{ $sp->id }}" target="_blank" title="{{ $vars['product']['name'] }}" class="item_bg pjax"></a> </li>
       @endforeach
     </ul>
    </div>
   </div>
  </div>
  <script src="{{ $theme_path }}/js/detail.min.js"></script>
  @include('footer')
  <script src="{{ $theme_path }}/layui/layui.js"></script>
  <script>
      function addToCart(pid) {
          layui.use(['layer'], function() {
              var $ = layui.jquery;
              var layer = layui.layer;

              $.ajax({
                  type: "GET",
                  url: '/add-cart/' + pid,
                  success: function(msg) {
                      if (msg) { //如果成功了
                          layer.msg('添加成功!', {
                              icon: 1,
                              time: 1000,
                              shade: 0.1
                          }, function() {
                              location.reload();
                          });
                      } else {
                          layer.msg('添加失败!', {
                              icon: 5
                          });
                      }
                  }
              });
          });
      }
  </script>
 </body>
</html>
