<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>猎人小店 | 不走寻常路的杂货铺</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="猎人小店,hunter,drupalhunter,drupal8,项目案例,drupal猎人">
  <meta name="description" content="猎人云-站神社区旗下Drupal猎人专属小店，本站采用Drupal8制作，并由Drupal8世界站神九段的Drupal猎人采用最强最新的尖端d8新建站思路构建设计而成！本店专售一些稀奇少有的东西，目前主营盆景，水草！">
  <link href="{{ $theme_path }}/images/favicon.ico" rel="SHORTCUT ICON">
  <link rel="stylesheet" href="{{ $theme_path }}/layui/css/layui.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/global.css">
  <link rel="stylesheet" data-href="{{ $theme_path }}/css/full.css" class="fly-style">
  <link rel="stylesheet" href="{{ $theme_path }}/css/font.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/checkout.css">
  <link rel="stylesheet" href="{{ $theme_path }}/css/modal.css">
  <script src="{{ $theme_path }}/js/jquery.min.js"></script>
  <script>
  var pid = {{ $vars['parms']['pid'] ? $vars['parms']['pid'] : 0 }};
  var pcount = {{ $vars['parms']['pcount'] ? $vars['parms']['pcount'] : 0 }};
  </script>
</head>

 <body class="fly-full checkout">
  @include('header')
  <div id="main" class="main layui-clear">
      <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="icon-add" viewBox="0 0 32 32">
                <title>add2</title>
                <path class="path1" d="M15 17h-13.664c-0.554 0-1.002-0.446-1.002-1 0-0.552 0.452-1 1.002-1h13.664v-13.664c0-0.554 0.446-1.002 1-1.002 0.552 0 1 0.452 1 1.002v13.664h13.664c0.554 0 1.002 0.446 1.002 1 0 0.552-0.452 1-1.002 1h-13.664v13.664c0 0.554-0.446 1.002-1 1.002-0.552 0-1-0.452-1-1.002v-13.664z"></path>
            </symbol>
            <symbol id="icon-ok" viewBox="0 0 39 32">
                <title>ok</title>
                <path class="path1" d="M14.084 20.656l-7.845-9.282c-1.288-1.482-3.534-1.639-5.016-0.351s-1.639 3.534-0.351 5.016l10.697 12.306c1.451 1.669 4.057 1.623 5.448-0.096l18.168-22.456c1.235-1.527 0.999-3.765-0.528-5.001s-3.765-0.999-5.001 0.528l-15.573 19.337z"></path>
            </symbol>
            <symbol id="icon-edit" viewBox="0 0 32 32">
                <title>edit</title>
                <path class="path1" d="M25.599 11.292l-4.892-4.892 3.825-3.825 4.892 4.892-3.825 3.825zM4.732 23.308l3.959 3.959-5.939 1.98 1.98-5.939zM10.666 26.225l-4.892-4.892 13.425-13.425 4.892 4.892-13.425 13.425zM31.687 6.713l-6.4-6.4c-0.417-0.417-1.091-0.417-1.508 0l-20.267 20.267c-0.114 0.115-0.191 0.25-0.242 0.393-0.003 0.009-0.012 0.015-0.015 0.025l-3.2 9.6c-0.128 0.383-0.029 0.806 0.257 1.091 0.203 0.204 0.476 0.313 0.754 0.313 0.112 0 0.227-0.017 0.337-0.054l9.6-3.2c0.011-0.003 0.017-0.013 0.027-0.016 0.142-0.052 0.276-0.128 0.39-0.242l20.267-20.267c0.417-0.416 0.417-1.091 0-1.508v0z"></path>
            </symbol>
            <symbol id="icon-del" viewBox="0 0 26 32">
                <title>delete</title>
                <path class="path1" d="M17.723 28c0.543 0 0.984-0.448 0.984-1v-12c0-0.552-0.441-1-0.984-1s-0.985 0.448-0.985 1v12c0 0.552 0.441 1 0.985 1v0zM7.877 28c0.543 0 0.984-0.448 0.984-1v-12c0-0.552-0.441-1-0.984-1s-0.985 0.448-0.985 1v12c0 0.552 0.441 1 0.985 1v0zM12.8 28c0.543 0 0.985-0.448 0.985-1v-12c0-0.552-0.441-1-0.985-1s-0.984 0.448-0.984 1v12c0 0.552 0.441 1 0.984 1v0zM23.631 4h-5.908v-2c0-1.104-0.882-2-1.969-2h-5.908c-1.087 0-1.969 0.896-1.969 2v2h-5.908c-1.087 0-1.969 0.896-1.969 2v2c0 1.104 0.882 2 1.969 2v18c0 2.208 1.765 4 3.939 4h13.784c2.174 0 3.938-1.792 3.938-4v-18c1.087 0 1.969-0.896 1.969-2v-2c0-1.104-0.882-2-1.969-2v0zM9.846 3c0-0.552 0.441-1 0.984-1h3.938c0.544 0 0.985 0.448 0.985 1v1h-5.908v-1zM21.662 28c0 1.104-0.882 2-1.969 2h-13.784c-1.087 0-1.97-0.896-1.97-2v-18h17.723v18zM22.646 8h-19.692c-0.543 0-0.985-0.448-0.985-1s0.441-1 0.985-1h19.692c0.543 0 0.984 0.448 0.984 1s-0.441 1-0.984 1v0z"></path>
            </symbol>
            <symbol id="icon-clock" viewBox="0 0 32 32">
                <title>clock</title>
                <path class="path1" d="M29.333 16c0-7.364-5.97-13.333-13.333-13.333s-13.333 5.97-13.333 13.333c0 7.364 5.97 13.333 13.333 13.333s13.333-5.97 13.333-13.333v0 0 0 0 0 0zM0 16c0-8.837 7.163-16 16-16s16 7.163 16 16c0 8.837-7.163 16-16 16s-16-7.163-16-16zM14.667 14.667v1.333h2.667v-10.667h-2.667v9.333zM24 18.667h1.333v-2.667h-10.667v2.667h9.333z"></path>
            </symbol>
        </defs>
    </svg>
    <div class="wrap">
     <h1 class="goods_title">确认订单信息</h1>
     <div class="cart" v-cloak>
      <!-- table -->
      <form action="/checkout" method="post">
      <div class="item-list-wrap">
          <div class="cart-item">
              <div class="cart-item-head">
                  <ul>
                      <li>商品信息</li>
                      <li>商品金额</li>
                      <li>商品数量</li>
                      <li>总金额</li>
                      <li>编辑</li>
                  </ul>
              </div>
              <ul class="cart-item-list">
                  <li v-for="(product, index) in productList">
                      <div class="cart-tab-1">
                          <div class="cart-item-check">
                              <a href="javascipt:;" class="item-check-btn" v-bind:class="{'check':product.checked}" v-on:click="selectedProduct(product)">
                                  <svg class="icon icon-ok"><use xlink:href="#icon-ok"></use></svg>
                              </a>
                          </div>
                          <div class="cart-item-pic">
                              <img v-bind:src="product.product_image[0]" :alt="product.name">
                          </div>
                          <div class="cart-item-title">
                              <div class="item-name" v-text="product.name"></div>
                          </div>
                      </div>
                      <div class="cart-tab-2">
                          <div class="item-price" v-text="product.product_price"></div>
                      </div>
                      <div class="cart-tab-3">
                          <div class="item-quantity">
                              <div class="select-self select-self-open">
                                  <div class="quentity">
                                      <a href="javascript:;" v-on:click="changeMoney(product,-1)">-</a>
                                      <input type="text" v-model="product.pcount" disabled>
                                      <a href="javascript:;" v-on:click="changeMoney(product,1)">+</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="cart-tab-4">
                          <div class="item-price-total">@{{product.product_price | formatMoney(product.pcount)}}</div>
                      </div>
                      <div class="cart-tab-5">
                          <div class="cart-item-opration">
                              <a href="javascript:;" class="item-edit-btn" @click.stop="delConfirm(product)">
                                  <svg class="icon icon-del"><use xlink:href="#icon-del"></use></svg>
                              </a>
                          </div>
                      </div>
                      <input :name="'products['+index+'][name]'" type="hidden" :value="product.name">
                      <input :name="'products['+index+'][pid]'" type="hidden" :value="product.id">
                      <input :name="'products['+index+'][pcount]'" type="hidden" :value="product.pcount">
                  </li>
              </ul>
          </div>
      </div>

      <!-- footer -->
      <div class="cart-foot-wrap">
          <div class="cart-foot-l">
              <div class="item-all-check">
                  <a href="javascipt:;" @click="selectAll(true)">
                  <span class="item-check-btn" :class="{'check':checkAll}">
                      <svg class="icon icon-ok"><use xlink:href="#icon-ok"></use></svg>
                  </span>
                      <span>全选</span>
                  </a>
              </div>
              <div class="item-all-del">
                  <a href="javascipt:;" class="item-del-btn" @click="selectAll(false)">
                      取消全选
                  </a>
              </div>
          </div>
          <div class="cart-foot-r">
              <div class="item-total">
                  总共 : <span class="total-price">@{{totalMoney|formatMoney}}</span>
              </div>
              <div class="next-btn-wrap">
                  <button type="submit" class="btn btn--red">结账</button>
              </div>
          </div>
      </div>
      <input name="orderid" type="hidden" value="{{ date( "YmdHis") }}">
      <input name="totalMoney" type="hidden" :value="totalMoney">
      </form>
      <div class="md-modal modal-msg md-modal-transition" id="showModal" v-bind:class="{'md-show':showModal}" @click.stop="">
          <div class="md-modal-inner">
              <div class="md-top">
                  <button class="md-close" @click="showModal=false;">关闭</button>
              </div>
              <div class="md-content">
                  <div class="confirm-tips">
                      <p id="cusLanInfo" lan="Cart.Del.Confirm">你确认删除此订单信息吗?</p>
                  </div>
                  <div class="btn-wrap col-2">
                      <button class="btn btn--m" id="btnModalConfirm" @click="delCurrentProduct">Yes</button>
                      <button class="btn btn--m btn--red" id="btnModalCancel" @click="showModal=false;">No</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="md-overlay" id="showOverLay" v-show="showModal"></div>
    </div>
    </div>
  </div>
  @include('footer')
  <script src="{{ $theme_path }}/js/vue.js"></script>
  <script src="{{ $theme_path }}/js/vue-resource.js"></script>
  <script src="{{ $theme_path }}/js/cart.js"></script>
 </body>
</html>
